:root {
	--egg_bg01: #FBE9E7;
	--egg_bg02: #EC407A;
	--egg_stripe_color01: #FFBDE8;
	--egg_stripe_color02: #BDE8FF;
	--egg_stripe_color03: #E8FFBD;
	--egg_stripe_color04: #FFE8BD;
	--egg_stripe_color05: #E8BDFF;
	--egg_stripe_color06: #FFBDE8;
}

/* HALLOWEEN */
.halloween_container{
    position: relative;
	z-index: 1;
	display: inline-block;
	vertical-align: middle;
    width: 100%;
	max-width:600px;
    display: none;
    margin: 0px auto;
}
.halloween_container_salon{
    display: block;
}
.halloween_container .halloween_ghost{
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	z-index: 1;
	top:-80px;
}
.halloween_container .halloween_ghost:first-child{
	left:0px
}
.halloween_container .halloween_ghost:last-child{
	right:0px
}
.ghost {
    animation: float 3s ease-out infinite;
    width: 50px;
    height: 50px;
}
  
@keyframes float {
    50% {transform: translate(0, 20px);}
}
.shadowFrame {
    width: 130px;
    margin-top: 15px;
}
.shadow {
    animation: shrink 3s ease-out infinite;
    transform-origin: center center; 
    background-color: transparent; 
    box-shadow: none!important;
    width: 50px;
    height: 25px;
}
ellipse {
    transform-origin: center center;
}
  
@keyframes shrink {
    0% {
        width: 50px;
        margin: 0 5%;
    }
    50% {
        width: 30px;
        margin: 0 18%;
    }
    100% {
        width: 50px;
        margin: 0 5%;
    }
}

/* EASTER */
.easter_eggs{
	position: relative;
	z-index: 1;
	display: inline-block;
	vertical-align: middle;
    width: 100%;
	max-width:600px;
    display: none;
    margin: 0px auto;
}
.easter_eggs_salon{
    display: block;
}
.easter_eggs .eggs{
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	z-index: 1;
	top:-80px;
}
.easter_eggs .eggs:first-child{
	left:0px
}
.easter_eggs .eggs:last-child{
	right:0px
}
.egg {
    width: 50px;
    height: 70px;
    margin: 1em auto;
    background: var(--egg_bg01);
    border-radius: 50%/60% 60% 40% 40%;
    overflow: hidden;
    display: inline-block;
}
.stripe {
    height: 20%;
}
/* .stripe:not(:first-child) {
    border-top: 2px solid var(--egg_stripe_color01);
}  */
.stripe:nth-child(1) {
    background-color: var(--egg_stripe_color02);
}
.stripe:nth-child(2) {
    background-color: var(--egg_stripe_color03);
}
.stripe:nth-child(3) {
    background-color: var(--egg_stripe_color04);
}
.stripe:nth-child(4) {
    background-color: var(--egg_stripe_color05);
}
.stripe:nth-child(5) {
    background-color: var(--egg_stripe_color06);
}
  
@keyframes egg-left-animation {
    0% {
        transform: rotate(-25deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}
@keyframes egg-right-animation {
    0% {
        transform: rotate(40deg);
    }
    100% {
        transform: rotate(35deg);
    }
}
  
.egg-left {
    transform: rotate(-10deg);
    animation: egg-left-animation 0.8s linear 0s infinite alternate;
}
.egg-right {
    transform: rotate(25deg);
    animation: egg-right-animation 0.7s linear 0s infinite alternate;
    background-color: var(--egg_bg02);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23FFFFFF' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@media (max-width: 960px) {
  .egg {
        width: 30px;
        height: 40px;
    }
}

/* WINTER */

/* SNOW */
.snowflake{
	position:fixed;
	top:-10%;
	z-index:9999;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:default;
	-webkit-animation-name:snowflakes-fall,snowflakes-shake;
	-webkit-animation-duration:10s,3s;
	-webkit-animation-timing-function:linear,ease-in-out;
	-webkit-animation-iteration-count:infinite,infinite;
	-webkit-animation-play-state:running,running;
	animation-name:snowflakes-fall,snowflakes-shake;
	animation-duration:10s,3s;
	animation-timing-function:linear,ease-in-out;
	animation-iteration-count:infinite,infinite;
	animation-play-state:running,running;
    color: #fff;
	font-size: 12px;
	text-shadow: 0 0 1px #000;
}
.snowflake:nth-of-type(0){
	left:1%;
	-webkit-animation-delay:0s,0s;
	animation-delay:0s,0s
}
.snowflake:nth-of-type(1){
	left:10%;
	-webkit-animation-delay:1s,1s;
	animation-delay:1s,1s
}
.snowflake:nth-of-type(2){
	left:20%;
	-webkit-animation-delay:6s,.5s;
	animation-delay:6s,.5s
}
.snowflake:nth-of-type(3){
	left:30%;
	-webkit-animation-delay:4s,2s;
	animation-delay:4s,2s
}
.snowflake:nth-of-type(4){
	left:40%;
	-webkit-animation-delay:2s,2s;
	animation-delay:2s,2s
}
.snowflake:nth-of-type(5){
	left:50%;
	-webkit-animation-delay:8s,3s;
	animation-delay:8s,3s
}
.snowflake:nth-of-type(6){
	left:60%;
	-webkit-animation-delay:6s,2s;
	animation-delay:6s,2s
}
.snowflake:nth-of-type(7){
	left:70%;
	-webkit-animation-delay:2.5s,1s;
	animation-delay:2.5s,1s
}
.snowflake:nth-of-type(8){
	left:80%;
	-webkit-animation-delay:1s,0s;
	animation-delay:1s,0s
}
.snowflake:nth-of-type(9){
	left:90%;
	-webkit-animation-delay:3s,1.5s;
	animation-delay:3s,1.5s
}
@-webkit-keyframes snowflakes-fall{
	0%{top:-10%}
	100%{top:100%}
}
@-webkit-keyframes snowflakes-shake{
	0%{
		-webkit-transform:translateX(0px);
		transform:translateX(0px)
	}
	50%{
		-webkit-transform:translateX(80px);
		transform:translateX(80px)
	}
	100%{
		-webkit-transform:translateX(0px);
		transform:translateX(0px)
	}
}
@keyframes snowflakes-fall{
	0%{top:-10%}
	100%{top:100%}
}
@keyframes snowflakes-shake{
	0%{transform:translateX(0px)}
	50%{transform:translateX(80px)}
	100%{transform:translateX(0px)}
}

.snow, .snow_small{
    position: relative;
    z-index: 1;
	margin-top: 10px;
}
.snow::before {
	content: '';
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAAXCAYAAACS5bYWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABFpJREFUeNrUV0tIo1cUvpkYjQ4xxSA6DxuNqG0dtaUKOgs3s6i0dFd3pSsXdjeIixakiGA34sZuXCkoONLFwJTK4GMYLYXg29gatTpiXurkbd7vv9/5ub+IxuhA7eiFQ5Kbc8/57ne/e87/ywRBYLdl3GG3aNwqsLJ0k0tLS+fmcnNzWUVFBVMoFGx2djarvLxcm5OTw+bm5iytra2xc4ExNjY27iqVyvvwK6CpeDzuCYVC1urq6qDA9UcfPp+PHR4esmAwKK6tr68/l5/8rgQ2Ozub1dbWyiYmJooaGxt/VqvV38jlchX9l0qlwoFA4DWS/RKLxRxFRUVf5+XlPcaaT2AP0sVPJBL2SCRiAPBpu93+vKamZo/Ae71eZjabWV1dXVqw7CKwp43ksrCw8Bhg7MJ/PLDZ5PHx8cz29vYT5JGD/bSYLgTrcDgYdk6siSc6NjZWDaAe4ZoHQL+cmZnRpZPnhWDpD8kw7uKo9ML/NMCsd2tr61vkzboMrEyv138M7TyLRqMWMBsX3sMgaZhMpp+AR5EJrCocDpuEGzKg4x8khs+CVWxubvZfR9JkMik4nU7BarUKLpeLmLsKuwIqTLynp4fqmIzASrqQT09Pf1VVVfX0KsWZ6uHBwQHTaDSsoKAgo6/H4xHLEcrVyRwuEisrKzs5XrrIVAVwiUVDKRRrL+YI32ewdVhMApuHWvcj6vids6J2u90MF4yBHUZNgKoEBaRBQalJqFSqtJfUYrGIlQX+ydXVVTN+u0tKSjQNDQ1axJVl2iTypebn55d7e3v/kqoDgZU1NTU9LCws/Py0M+2ekuGincxJ3yF+18jIyHJLS0slQJUWFxczrBeBE0vE5tHRkbixlZWVfSR8gTX/0P5gH7S1tX3Z3t7+BW8qAvwSfr8/jA0EIRM/qoFtampqbW9vTw+XA+ojUruVd3Z2tvb19T2TQFEim81GgVJoCvvj4+NLOJZgaWmpemdn5y3a6BbcnJDAw8HBwac6ne6eqCW5XDwB3qVSqM9/DAwMUNy/eVLabT7sI25qwgujThCBhWE+mAt2yNc4SQKSZrOQQE1HS22VJkmPAGTr7+//fX19fRk+Zgq0trbGeFAKEAQT98BSqKOj47vm5uaa/Px8JeIk4GcaHh6eWlxcfAU/A8xG67BxAX3fwdcbYUpSDJ06Z49Ak8ZC3OL8f3YiA4PBYKdLQ2AJ9OTk5GpXV9cQiCVh79M94QtlPLDUE/1gPNrd3f0W33W4cBoco48zQuy/IZYAMnGqlSc4c66L9JruQUaSARXeT8HGKzxAqFBekni6+h46+pMzGiJGMgTOJh1yU/KNEGDvZWvfBawkA9ppwGg0mrRa7SOI2g+gxOgbJIpdFpj72PnxSnPX8vqRxTURgBQWKisrH+GThOm+CtAzoK/9/Uiqq/6hoaHfdnd3jaOjo7/yY7yxbwqkWy3sQzpS2C6YirwvUJk0y7hurfyGRrnduPGvAAMASmo8wzeVwfsAAAAASUVORK5CYII=) no-repeat 0 0,
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE0AAAAXCAYAAABOHMIhAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABiZJREFUeNrsWMtPlFcUvzPMwIDysLyRR4uATDHWCiVgSmRlios2DeiiXUFs0nRBd6arxqQhJDapkYXhP4BqDKTQhZaFNQSCaBEVJjwdHsNr5DUMDDPDzPT3u7nTDEgRKrKgc5KT+z3uufec33de99P4fD4RpL2RNgjB3kn35MkTeRERESFiYmLkGBoaKnQ6nWSNRvPPZFxr+vv7k6KioiIdDsfa8vLyQkFBgcP3Bnel3MDAQArWI0eFhISE87nb7bZ7PJ4VvLYuLi5O5+fnu9+kMNfq6+tLjIyMzMY6KeBEbK/XarXReI3lPDZMWcc4v7GxYV1dXR3Jy8ub2E5HPvJ6vRSSDH0ku1wuAfsEZOV1IEFHoeNFdHS0yMrK2knR0Lm5uR+hxLdQMjbwHTZbB41h8RGwCdc9MzMzneHh4bGJiYlf4SN8ijkfwqiIncCAAR7Iz2GPSShudjqdfeCeqampvwBQfFxc3JdYqwTv8gB8/F48A8BgKecE14V+L7ju2tpae05OzkuCCZvkPOj8mizmC6vVKtmPu+bx48cC3qI1mUyFUOyywWD4SHlELBaLJmCHNcwAghuAOujtuF4FqHO4nsX4EsAS3I4TJ04ME1h8PDE9PS09TYZoY2Pj1729vd6lpSVfkDYTPG0UkfNDRUWFgQ5Gb2Mh0N29e9eG/GQfHh4W8/PzwUy/ObQ/gMfVVlZW1iAiZdQxp3nv3LljRoL/5erVq1UIxzSiiVD9X4EDYATynCwAzGO858hCQRoaGmJFZNJz8YIcBc4BF966dau6sLAwBxVSJCUlCSThQwuU3W6XkYUok1Vzm5znQx5bbm9v77p+/frPeNSNRzZ/ISBwrG4ZR48eLamtrf2+uLjYSEG9Xi/wTISFhQlWGXohyzO/CJlVl23KQRLbABoaHx+/Z1lUZ/Hq1SsJFj3JT3hmHx8fnydPTEzMj46OziHPW2w22wxeD4Kfgadh/4YEzU8Az4DhffAn5eXlX1y6dKkEoCTspAQ9Mjs7+0BBo8Fms1lkZGTsOo0QLLRNkvnR+fEJzIMHD0xtbW39CL8JTFtSbAOvBIyLHIGVm9VzE2gKuDAMSSpcT6KXyT137lx2cnLyMXhcGDb3wq3XuWF3d/fCzZs3P0c4v5eSknJQbYLo7Ox0gC2lpaVZ3Be67Th/dnZWoAJKsJC3XA8fPhxoamp6hMb+BaaMgWcUMGtszZjiFDNmvcDI91pzG0iY4ARwkwrxkcHBwUdgNrRMbnrqoRbkVzDcvn3bl5qaWsmcgFH4G8XdEGUWFhak51AuISFBnkoCTyFbyWKxCJwIxlC0fq2rq7tcVFRkRKskjh8/Lr0+kBjCCDV/knfdv3//WX19/R8IRRNemxlu4AXwKqM+EJwdj1HbPYSwh3sCPAJDABm2LLchCjS+5/kirKGhwWk0GrMuXrxYQuX9hm/XXTMXMY+srKwI5ApZrbYmZh7deEJhAUKjLe/pLTzSsCuHrK+1tbUJVe3P6upq87Vr174rKysrYHVj/uW+OH3IfEuw4F3ee/fuPQfAvwOs5yyE4CnlFOu7BWrTCWlreO6FACpBZGwUw4BvkANLobReHb3kGZYGsGzTq/zlO8AT1ru6uoZbWlqeA6gINJAfnz59OlVLoX8Jtebm5raampqfcMvQYgTknz9//sKVK1c+y83NTdIEuCnaKMuNGzd+6+np6cCtSTkAw9D9X8Dyh+dbgaaAC1XAnUlPTy+qqqq6cPbs2UzkmWjNljiDJzpwHFnCkW2yo6NjCKW8H54wjlezKvRT09LSTsJrz5w6dSoN+Yp51ADAPUj8VoDbDq9pxrwuJcNIYQllJTIi/xopBw/VA7DJp0+f9hA78CgL5F5C8J2CpoCj8sfA6WCe/FPRhsRlZmbGIs8Y4FFO5CJgtrSsvrRVGW1V93b1myoGnKAKEcHgnwsWpg1lNI0fphwrmdqbckeU18WrnlOjqp5/j7W3BWvfQVPKa5SBkcrYCNVB65TRTlWZ1lXiXVU5xbtlDb2SPaLWYwrgHIcqPg6Vc7fbX69Yoyqfa7/AeiegbWOEVhmsVcWDwPn224iDJgla8Hd38Hd3ELQgaIeI/hZgAIPEp0vmQJdoAAAAAElFTkSuQmCC) no-repeat 50% 2px,
	url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAXCAYAAACFxybfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAodJREFUeNrsVb1rWlEUv2pN/GqspKRSKFYXWzEloIWif0Fn6dJChQ7OQil0qd3EzcEpg0OgdHDr4CQODk7VRlLMEIVqApX4We0zflR9/Z1Ui4T34ksaaAYP/Hzc673n/M6550PG8zz73yKjn0wm83fDYDAwo9HINBrNnwOQg4MDs0ql2lQqlfdAWont7ng8Pjw+Ps44nc4G1pI9EXWaSOzt7TGO42aH5Pv7+08ajUZ0MBiUeXEZd7vdL5VK5fX29rZ+5tQiEmdxKrlcjsEYczgcynK5/BKKv/IXFNz/XiqVXkHdjUuRIA9SqdRD8or/R8Ez9fr9fqHVakUR4c2z0REjIQuHw2ZcrPBXLCA0RHTezEdHjIQqkUhEr9I4HOILhQLf6/VoOUFEvDMiQiToDx1Cdz+bzZ6bUFarlel0OkkVUK/XWbvdPoVer5fh3ntsfwJ+CJ2XA4p0Op1bpBgJyxDehQQ6nQ5DZXHBYDBZq9V+EhFUndnr9drEqoc2bwJbwGPgtohuVSwWe2Gz2TZMJpNgRKi6qtUqg2EWj8dTgUDgo0KhWPN4PC70EvXOzs67fD6/S6kiRIKeZA1YJ2MiJNbdbvfTUCjkV6vVK2hcDF8GI2w0GrGTkxM2HA5PDxaLxSOfz/cWEfk81X0XIMMFgJJ/srBjCgk8IdcfuVyuZ36//7nFYtkQyAMumUzuRiKRD0jMFLa+AZOpYwqgB/ziBVqmVBKUO7eAB/R0WG/Z7XaTVqtdbTabHJL6EK2djBaBPHA0NSqpbUsiMUeEBgpF4Q5AbZrmSJ/yEWgBTaBNHl9kdkgmMUeG7qwAq9PqovceTA3zlxlgsuswyuXsGsiSxJLEkoSY/BZgAEjRodi+uBruAAAAAElFTkSuQmCC) no-repeat 100% 3px;
	position: absolute;
    z-index: 2;
    width: 100%;
    height: 20px;
    top: -10px;
    left: 0;
}
.snow_small::before {
	content: '';
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAXCAYAAACFxybfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAodJREFUeNrsVb1rWlEUv2pN/GqspKRSKFYXWzEloIWif0Fn6dJChQ7OQil0qd3EzcEpg0OgdHDr4CQODk7VRlLMEIVqApX4We0zflR9/Z1Ui4T34ksaaAYP/Hzc673n/M6550PG8zz73yKjn0wm83fDYDAwo9HINBrNnwOQg4MDs0ql2lQqlfdAWont7ng8Pjw+Ps44nc4G1pI9EXWaSOzt7TGO42aH5Pv7+08ajUZ0MBiUeXEZd7vdL5VK5fX29rZ+5tQiEmdxKrlcjsEYczgcynK5/BKKv/IXFNz/XiqVXkHdjUuRIA9SqdRD8or/R8Ez9fr9fqHVakUR4c2z0REjIQuHw2ZcrPBXLCA0RHTezEdHjIQqkUhEr9I4HOILhQLf6/VoOUFEvDMiQiToDx1Cdz+bzZ6bUFarlel0OkkVUK/XWbvdPoVer5fh3ntsfwJ+CJ2XA4p0Op1bpBgJyxDehQQ6nQ5DZXHBYDBZq9V+EhFUndnr9drEqoc2bwJbwGPgtohuVSwWe2Gz2TZMJpNgRKi6qtUqg2EWj8dTgUDgo0KhWPN4PC70EvXOzs67fD6/S6kiRIKeZA1YJ2MiJNbdbvfTUCjkV6vVK2hcDF8GI2w0GrGTkxM2HA5PDxaLxSOfz/cWEfk81X0XIMMFgJJ/srBjCgk8IdcfuVyuZ36//7nFYtkQyAMumUzuRiKRD0jMFLa+AZOpYwqgB/ziBVqmVBKUO7eAB/R0WG/Z7XaTVqtdbTabHJL6EK2djBaBPHA0NSqpbUsiMUeEBgpF4Q5AbZrmSJ/yEWgBTaBNHl9kdkgmMUeG7qwAq9PqovceTA3zlxlgsuswyuXsGsiSxJLEkoSY/BZgAEjRodi+uBruAAAAAElFTkSuQmCC) no-repeat 50% 0;
	position: absolute;
    z-index: 2;
    width: 100%;
    height: 20px;
    top: -8px;
    left: 2px;
}

/* CHRISTMAS */
.light-bulbs {
	display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
	margin-top: 20px;
} 
.light-bulb {
	border-radius: 50%;
	height: 20px;
	width: 20px;
	position: relative;
	z-index: 1;
	display: inline-block;
	margin-right: 70px;
}
.light-bulb:last-child{
	margin-right: 0px;
}
.light-bulb::before {
	content: '';
	position: absolute;
	z-index: 1;
	border: 1px solid #333;
	width: 10px;
	height: 10px;
	background: #666;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	left: 25%;
	top: -10px;
}
.light-bulb::after {
	content: '';
	top: -20px;
	left: 60%;
	position: absolute;
	width: 90px;
	height: 28px;
	border-bottom: 2px solid #666;
	border-radius: 50%;
	z-index: -1;
}
.light-bulb:last-of-type::after {
	border: none;
}
.light-bulb.theme-color-one {
	background: red;
	box-shadow: 0 1px 13px 3px red;
	border: solid 1px darkred;
}
.light-bulb.theme-color-two {
	background: orange;
	box-shadow: 0 1px 13px 3px orange;
	border: solid 1px rgb(185, 103, 2);
}
.light-bulb.theme-color-three {
	background: yellow;
	box-shadow: 0 1px 13px 3px yellow;
	border: solid 1px #b5b501;
}
.light-bulb.theme-color-four {
	background: green;
	box-shadow: 0 1px 13px 3px green;
	border: solid 1px #005c00;
}
.light-bulb.theme-color-five {
	background: #1b1bff;
	box-shadow: 0 1px 13px 3px #1b1bff;
	border: solid 1px blue;
}
.light-bulb.theme-color-six {
	background: #930093;
	box-shadow: 0 1px 13px 3px #930093;
	border: solid 1px #680068;
}

@media (max-width: 960px) {
	.easter_eggs{
        max-width:400px;
    }
}
@media (max-width: 767px) {
	.light-bulb {
		height: 15px;
		width: 15px;
		margin-right: 30px;
	}
	.light-bulb::before{
		width: 8px;
    	height: 8px;
		top:-8px
	}
	.light-bulb::after{
		width: 40px;
	}
}
@media (max-width: 600px) {
	.easter_eggs{
        max-width:300px;
    }
}