:root {
	--yellow: yellow;
	--green: green;
  }

html{
	height: 100%;
}
body{
	background:green;
	color:black;
	font-family: 'Roboto Condensed';
	min-height: 100% !important;
    height: 100%;
    position: relative;
}
#casino_root, .App{
	min-height: 100% !important;
    height: 100%;
	position: relative;
	overflow-x: hidden;
}
.grad {
	background-color:green;
	/* background-image: radial-gradient(green, black); */
	background-image: url('./../img/bg00a.jpg');
	background-repeat: repeat;
	background-size: 400px auto;
	text-align:center;
}
.grad:before{
	content: "";
	background-color:transparent;
	background-image: radial-gradient(transparent, black);
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	width:100%;
}

.deco {
	--c:yellow;   /* color */
	--b:1px;   /* thickness of lines */
	--o1:15px; /* offest of lines*/
	--o2:10px; /* offset of rectangle */
	
	border:var(--o1) solid transparent; 
	outline:var(--b) solid var(--c); 
	outline-offset:calc(-1*var(--o2));
	background:
	  linear-gradient(var(--c) 0 0) top,
	  linear-gradient(var(--c) 0 0) left,
	  linear-gradient(var(--c) 0 0) bottom,
	  linear-gradient(var(--c) 0 0) right;
	background-size:200% var(--b),var(--b) 200%; 
	background-origin:padding-box;
	background-repeat:no-repeat;
}
.HomePage{
	background-color: rgba(0,0,0,0.5);
	padding: 10px;	
}
.HomePage .deco{
	display: table;
    width: 100%;
    min-height: 235px;
}
.HomePage_box{
	padding: 10px;
    display: table-cell;
    vertical-align: middle;
}

textarea.shadow_concav, input.shadow_concav, .button_yellow.shadow_concav, .shadow_concav{
	-moz-box-shadow:    inset 4px 4px 8px 2px rgba(0,0,0,0.7)!important;
   	-webkit-box-shadow: inset 4px 4px 8px 2px rgba(0,0,0,0.7)!important;
   	box-shadow:         inset 4px 4px 8px 2px rgba(0,0,0,0.7)!important;
}
textarea.shadow_convex, input.shadow_convex, .button_yellow.shadow_convex, .button_table.shadow_convex, .shadow_convex{
	-moz-box-shadow:    4px 4px 8px 2px rgba(0,0,0,0.7)!important;
   	-webkit-box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.7)!important;
   	box-shadow:         4px 4px 8px 2px rgba(0,0,0,0.7)!important;
}

#logo_splash{
	width:40px;
}
#logo_icon{
	width:50px;
}
.under_construction_icon{
	width: 150px;
}
.currency_img{
	width: 8px;
    margin: -4px 5px 0px 5px;
}
.account_img{
	width: 25px;
    margin: -4px 0px 0px 0px;
}

.logo_title_img{
	width:12px;
	margin-right:5px;
	display:inline-block!important;
}
.logo_title_text{
	display: inline-block;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
}
.rabbit_not_found{
	width:150px;
	display: inline-block;
	vertical-align: middle;
}
#rabbit_stand_right{
	float:right;
}
#rabbit_stand_left{
	float:left;
}

#myProgress {
	width: 100%;
	border-radius:50px;
	background-color: transparent;
	border:solid 1px yellow;
	margin-top:20px;
	height: 10px;
	overflow: hidden;
  }
  
  #myBar {
	width: 0%;
	height: 8px;
	background-color: rgba(255, 255, 0, 0.2);;
	line-height: 8px;
	border-radius:50px;
  }
  #myBar_text{
	text-align: right;
  }
  #myBar_text_container{
	width: 20px;
	margin-bottom:-20px;
  } 

.fa-user-circle{
	width:25px;
	display:inline;
}

.minor_container{
	position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}
.minor_inside{
	padding:10px;
	position:relative;
	top:50%;
	left:50%;
	width:100%;
	max-width:600px;
	transform:translate(-50%, -50%);
}
.minor_box{
	padding:20px;
	background:var(--yellow);
	color:black;
	border-radius:10px;
}
.minor_check, .settings_save{
	background:black;
	color:var(--yellow);
	border:solid 1px black;
	border-radius:0px;
	width:100px;
	margin:5px;
}
.minor_check:hover, .minor_check:focus, .minor_check:active, .minor_check:active:focus, .minor_check:active:hover,
.settings_save:hover, .settings_save:focus, .settings_save:active, .settings_save:active:focus, .settings_save:active:hover{
	background:black;
	color:var(--yellow);
	border:solid 1px black;
	border-radius:0px;
}

.loader_container{
	display:none;
	position:absolute;
	z-index:1;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	width:100%;
}
.loader_container .loader{
	color: yellow;
    position: relative;
    top: 50%;
    transform: translate(0px, -50%);
    font-size: 20px;
}
.loader_container .loader img{
	width:200px;
}
.loader_container .loader h1{
	font-size:20px;
	text-transform:uppercase;
}

.navbar{
	z-index:9999;
	padding:0px!important;
	background:black;
}
.navbar-brand{
	line-height:40px!important;
}
.logo_title{
	padding:5px 15px;
}
.navbar-nav{
	margin-bottom:0px;
	padding:5px 10px!important;
}
.navbar-text{
	float:right;
	margin:0px!important;
	width:100%;
	max-width:200px;
	text-align:right;
}
.navbar-collapse{
	background:transparent;
	color:var(--yellow);
}

.dropdown, .dropup{
	display:inline-block;
}
.dropdown.show, .dropup.show{
	display:inline-block!important;
}
.dropdown-menu{
	background-color:black;
	border-top:solid 1px var(--yellow);
	border-radius:0px;
}
.dropdown-menu *{
	display:block;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, address {
    margin: 0px;
}

h1 {
	font-size: 30px;
	line-height: 30px;
	font-family: monospace;
}

h2 {
	font-size: 24px;
	line-height: 24px;
}

h3 {
	font-size: 20px;
	line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 12px;
}

.uppercase {
	text-transform: uppercase;
  }
  
.lowercase {
	text-transform: lowercase;
  }
  
.capitalize {
	text-transform: capitalize;
  }

.text_red{
	color:red;
}
.text_stroke{
	color: yellow;
	-webkit-text-fill-color: transparent; 
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: yellow;
}

#signin_user_red, #signin_pass_red{
	display:none;
}

.full-height {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
}
.full-height-content{
	display: table-cell;
	vertical-align: middle;
	padding: 10px 0px;
}

#salon.full-height{
    position: relative;
	display:block;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
    height: 100%;
    width: 100%;
}
#roulette.full-height {
    position: relative;
	display:block;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
    height: auto;
    width: 100%;
}
#salon .full-height-content{
	padding: 10px 0px;
	z-index: 1;
	position: relative;
    top: 50%;
    transform: translate(0px, -50%);
	display: block;
}
#roulette .full-height-content{
	padding: 10px 0px;	
	display: block;
}

a, a:hover, a:focus, a:active{
	color:var(--yellow);
	text-decoration: none;
}
.link_hover_underline, .link_hover_underline:hover, .link_hover_underline:focus, .link_hover_underline:active{
	text-decoration: underline;
}

.color_yellow{
	color:var(--yellow);
}

textarea, input{
    outline: none!important;
	box-shadow:none!important;	
}

input:-internal-autofill-selected {
    appearance: none;
    background-color: transparent !important;
    background-image: none !important;
    color: yellow !important;
}

.input_yellow, .input_yellow:focus{
	background:black;
	border:solid 1px var(--yellow);
	color:var(--yellow);	
}

.button_yellow{
	color: var(--yellow);
    background: transparent;
    border: solid 1px var(--yellow);
	outline: none!important;
	box-shadow:none!important;
}
.button_yellow:hover, .button_yellow:focus, .button_yellow:active, .button_yellow:active:focus{
    background: rgba(255, 255, 0, 0.2);
	color: var(--yellow);
	border: solid 1px var(--yellow);
}
.button_table{
	color: var(--yellow);
    background: transparent;
    border: solid 1px var(--yellow);
	outline: none!important;
	box-shadow:none!important;
	/* -moz-box-shadow:    4px 4px 8px 2px rgba(0,0,0,0.7)!important;
   	-webkit-box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.7)!important;
   	box-shadow:         4px 4px 8px 2px rgba(0,0,0,0.7)!important; */
	border-radius: 100%;
    height: 55px;
    width: 55px;
    margin-top: 10px;
}
.button_table:hover, .button_table:focus, .button_table:active, .button_table:active:focus{
    background: rgba(255, 255, 0, 0.2);
	color: var(--yellow);
	border: solid 1px var(--yellow);
}

.button_green{
	color: black;
    background: rgba(0, 0, 0, 0.2);
    border: solid 1px black;
	outline: none!important;
	box-shadow:none!important;
}
.button_green:hover, .button_green:focus, .button_green:active, .button_green:active:focus{
    background: rgba(0, 0, 0, 0.2);
	border: solid 1px black;
	color: black;
}

.user_form_container{
	height:170px;
}
.login_link_container{
	margin:10px 0px;
	display:inline-block;
	border-radius:20px;
}
.login_link{
	display:inline-block;
	padding:5px 10px;
	border:solid 1px var(--yellow);
	width:100px;
	cursor:pointer;
}
.login_link.active{
	background: rgba(255, 255, 0, 0.2)
}
.login_link:first-child{
	border-radius:20px 0px 0px 20px;
}
.login_link:last-child{
	border-radius:0px 20px 20px 0px;
}

#user_form button, #user_form input{
	width:100%;
	margin:5px 0px;
	border-radius:20px;
}

.navbar-brand{
	padding:0px;
	line-height:50px;
	height:auto;
}
.app_link{	
	padding:20px 10px;
}
.app_link a{
	padding-right:10px;
	margin-right:10px;
	border-right:solid 1px green
}
.app_link a:last-child{
	border-right:solid 0px transparent;
}


table {
  border-collapse: collapse;
}

.modal.show{
	opacity:1;
	background: rgba(0,0,0,0.7);
}
.modal-dialog{
	margin: 0;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%)!important;
}
.modal-title{
	display:inline-block;
}

/* chatroom */
#chatform button{
	width:100%;
	/* color: #a87b51; */
	color: yellow;
    background: rgba(0, 0, 0, 0.2);
    border: solid 1px yellow;
    outline: none!important;
    box-shadow: none!important;
	padding: 6px 4px;
}

#user_list{
	max-height: 400px;
    overflow: auto;
}
#user_list table tr td{
	vertical-align:top;
	border-bottom: solid 1px yellow;
	color:yellow;
}
#user_list table tr td:first-child{
	width:65%;
	text-align:left;
}
#user_list table tr td:last-child{
	text-align:right;
}

.chatroom #chatmessages{
	display:block;
	width:100%;
	margin-bottom:10px;
	overflow:auto;
	text-align:left;
	height:180px;
	background:black;
	color:yellow;
	border:solid 1px yellow;
	border-radius:5px;
	padding:5px 10px;
	outline: none;
}
.chatroom input, .chatroom input:focus{
	display:block;
	width:100%;
	margin-bottom:10px;
	background:black;
	color:yellow;
	border:solid 1px yellow;
	border-radius:5px;
	padding:5px 10px;
	outline: none;
}

.chatroom .chattext_container > div:first-child{
	padding-right:5px;
}
.chatroom .chattext_container > div:last-child{
	padding-left:5px;
}
.chatroom .btn-success{
	width:100%;
}

.panel_container{
	top:0px;
	bottom:0px;
	right:-250px;
	width:300px;
	position:fixed;	
	z-index:9997;
	transition:0.7s;
    -webkit-transition:0.7s;
    -moz-transition:0.7s;
}
.panel_container.open{	
	right:0px;
}
.panel_box{
	display:none;
	background-color: rgba(0,0,0,0.5);
	background-image: linear-gradient(black, rgba(0,0,0,0.5) 50%);
	border-left:solid 1px yellow;
	padding: 20px 10px;	
	position:absolute;
	height:100%;
	right:0px;
	width:90%;
	max-width:250px;
	text-align: left;
	color:yellow;
}
.button_container{
	position: absolute;
    left: 1px;
    width: 50px;
}
#user_button{
	z-index:2;
    top: 40px;
}
#chat_button{
	z-index:1;
    top: 150px;
}
.button_container > div{
	background-color: black;	
	border:solid 1px yellow;
	border-right:solid 0px black;
	border-radius:10px 0px 0px 10px;
	color:yellow;
	height:100px;
	text-align:center;
	cursor:pointer;
	padding: 30px 5px;
}
.button_container div svg{
	display:inline-block;
	padding:2px;
	font-size:28px;
}
.button_container div h4{
	font-size: 12px;
}
.user_list{
	margin:0px;
	padding:0px;
}
.user_list li{
	list-style-type: none;
	border-bottom: solid 1px yellow;	
}
.user_list li:first-child{	
	overflow: auto;
}
.user_list li > span{
	display:block;
	padding:10px 5px;
	cursor: pointer;
}
.user_list li:first-child{
	margin-top:5px;
}
.user_list li:hover, .user_list li:focus{
	background: rgba(255, 255, 0, 0.2);

}
#user_subtitle{
	padding-left:5px;
}
#user_list_user{
	color:yellow;
}
#user_name, #user_money{
	display:inline-block;
	vertical-align: middle;
	width:50%;
}
#user_money{
	text-align:right;
	cursor: auto;
}

.casino_games_title{
	padding: 10px 20px;
    border: solid 1px var(--yellow);
    border-radius: 50px;
    display: inline-block;
    max-width: 600px;
    margin-top: 10px;
	width: 100%;
	cursor: pointer;
}
.casino_games_title:hover{
	background: rgba(255, 255, 0, 0.2);
}

.casino_games_table_container{
	transition: all .5s ease-in-out;
	max-height:200px;
	height: 0;
	overflow:hidden
}
.casino_games_table_container.open {
	height: 200px;
}
.casino_games_table{
	height:200px;
    padding: 10px;
    margin-top: 10px;
    overflow-y: auto;
}

.table_inside{
	display:inline-block;
	padding:10px;
	width:100%;
}
.table_box{	
	padding:20px 10px;
	border:solid 1px var(--yellow);
	border-radius:10px;
	height:150px;
	width: 100%;
	display:table;
}
.table_box > div{
	display:table-cell;
	vertical-align: middle;
}

/* account */
.account_tabs_container{
	padding:10px 0px;
}
.account_tabs{
	display: inline-block;
    padding: 10px 10px;
    border: solid 1px var(--yellow);
    width: 120px;
    cursor: pointer;
    height: 40px;
}
.account_tabs:first-child {
    border-radius: 20px 0px 0px 20px;
}
.account_tabs.active {
    background: rgba(255, 255, 0, 0.2);
}
.account_tabs:last-child {
    border-radius: 0px 20px 20px 0px;
}
.item_container{
	height: 400px;
	overflow-y:auto;
}
.profile_container{
	height: 360px;
}
.account_box_container h2{
	margin:15px 0px;
}
.account_box_container h3{
	margin-bottom:15px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border-top: none;
}
.table>tbody>tr>td:first-child{
	text-align:right;
}
.table>tbody>tr>td:last-child{
	text-align:left;
}
.history_container thead tr{
	background: rgba(255, 255, 0, 0.2);
}
.history_container thead tr th{
	border: solid 1px var(--yellow)!important;
}
.history_container tbody tr td{
	border: solid 1px var(--yellow);
	text-align:left!important;
}

.casino_modal .modal-dialog{
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%)!important;
	
}
.casino_modal .modal-content{
	background:var(--yellow);
	box-shadow: none;
	border: none;
}
.casino_modal .modal-header{
	border-bottom: 1px solid black;
}
.casino_modal .close{
	opacity: 1;
	text-shadow: none;
}
.casino_modal label{
	text-align:left;
	display: block;
}
#link_forget{
	cursor: pointer;
}

.crop_vegetables_box {
	display:inline-block;
	padding:5px;
	vertical-align: middle;
}
.crop_vegetables {
	width: 40px;
	height: 40px;
	overflow: hidden;
	display:inline-block;
}
.crop_vegetables .vegetable {
	width: 160px;
	height: 160px;	
}
.crop_vegetables .radish {
	margin-top: -40px;
    margin-left: -80px;
}
.crop_vegetables .onion {
	margin-top: 0px;
    margin-left: -40px;
}
.crop_vegetables .potato {
	margin-top: 0px;
    margin-left: -80px;
}
.crop_vegetables .carrot {
	margin-top: 0px;
	margin-left: 0px;
}
.crop_vegetables .cabbage {
	margin-top: -80px;
    margin-left: -40px;
}

/* footer */
.footer_container{
	position:absolute;
	z-index:9990;
	bottom:20px;
	color:var(--yellow);
	width:100%;
}

/* COOKIES MESSAGE */
.cookies_msg_container {
	position: absolute;
	bottom: 50px;	
	padding: 20px;
	max-width: 780px;
	width: 100%;	
	z-index: 9999;
	left: 50%;
	transform: translateX(-50%);
}
.cookies_msg{
	display: flex;
	align-items: center;
	justify-content: space-between;	
	background: yellow;	
	border-radius: 10px;
	padding: 20px;
	border: 1px solid yellow;
}

.cookies_text {
	width: 75%;
	display: block;
	color: black;
	font-size: 14px;
}
.confirm_cookies {
	width: 20%;
	display: block;
	position: relative;
}
.confirm_cookies button {
	width: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background:black;
	color:yellow;
	border-radius:20px;
	border:solid 1px black;
}
.confirm_cookies button:hover {
	background:yellow;
	color:black;
	border:solid 1px black;
}

.roulette_container{
    position: relative;
	z-index: 1;
    top: 0px;
}

#user_title{
	margin-bottom:10px;
	text-align: center;
}

@media (max-width:540px) {
	.cookies_msg {
		flex-direction: column;
	}
	.cookies_text, .confirm_cookies {
		width: 100%;
	}
	.confirm_cookies button {
		position: relative;
		transform: none;
		top: auto;
		left: auto;
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-top:5px;
	}
}

::-webkit-scrollbar{
	width: 10px;
	height:5px;
	border-radius: 10px;
	background-color: black;
	border: 1px solid var(--yellow);
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: var(--yellow);
	border: 1px solid transparent;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(black), to(black), color-stop(.5,var(--yellow)));	
    background-clip: content-box;
}

@media (max-width: 767px) {
	h1 {
		font-size: 20px;
		line-height: 20px;
	}

	h2 {
		font-size: 18px;
		line-height: 18px;
	}

	h3 {
		font-size: 16px;
		line-height: 16px;
	}

	h4 {
		font-size: 14px;
		line-height: 14px;
	}
	
	h6 {
		font-size: 10px;
		line-height: 10px;
	}
	
	.form-control{
		font-size: 12px;
		line-height: 12px;		
	}
	#user_form button, #user_form input{
		height: 25px;
		font-size: 12px;
		line-height: 12px;		
	}
	
    .navbar-toggler{
		display:block;
	}	
	.navbar-nav a{
		display:block
	}
	.chatroom .chattext_container{
		margin-right:-15px;
	}
	.loader_container .loader img{
		width:100px;
	}
	.loader_container .loader h1{
		font-size:16px;
	}
	#logo_icon{
		width:30px;
	}
	.navbar-text{
		float:none;
	}
	.navbar-collapse{
		margin-top:50px;
		background-color: black;
	}
	.casino_games_title{
		padding: 5px 10px;
	}
	.casino_games_table_container.open{
		height:180px;
	}
	.casino_games_table {
		height: 170px;
		padding: 5px;
		margin-top: 5px;
	}
	.table_inside {
		width: 33.33%;
		padding: 5px;
	}
	.table_box {
		padding: 10px 5px;
	}
	.chatroom .chattext_container > div:first-child{
		padding-right:15px;
	}
	.chatroom .chattext_container > div:last-child{
		padding-left:15px;
	}

	.rabbit_not_found{
		width:50px;
	}
	#rabbit_stand_right, #rabbit_stand_left{
		float:none;
	}
	.button_container > div{
		height: 50px;
		padding: 12px 5px;
	}
	.button_container div svg{
		font-size: 24px;
	}
	.button_container div h4{
		display:none;
	}
	#chat_button{
		top: 100px;
	}
	.footer_container{
		bottom:10px;
	}
	.roulette_container{
		overflow-x: auto;
		overflow-y: hidden;
		position: relative;
		z-index: 1;
		top: 0px;
		left: 50%;
		transform: translate(-50%, 0px);
		width:290px;
	}	
	#roulette .full-height-content{
		margin-top: 25%;
	}
}
@media (max-width: 480px) {  
	.table_inside {
		width: 50%;
	}
}
@media (max-width: 320px) {  
	.table_inside {
		width: 100%;
	}
}

@media (min-width: 768px){
	.container {
		width: 100%;
	}
	.full-height-content{
		padding: 20px 0px;
	}
}


@media (max-width: 768px) and (orientation: landscape) {
	#roulette .full-height-content{
		margin-top: 0%;
	}
	#game_title{
		display:none;
	}
}