:root {
	--yellow: gold;	
	--dark_yellow:#b39800;
	--light_yellow:yellow;
	--green: green;
	--transparent_2: rgba(0, 0, 0, 0.2);
	--transparent_5: rgba(0, 0, 0, 0.5);
	--transparent_8: rgba(0, 0, 0, 0.8);
	--transparent_yellow: rgba(255, 215, 0, 0.2);
	--red: red;
	--dark_red: darkred;
	--game_button_border:#735f0c;
	--game_button_color:#eac739;
  }

html{
	height: 100%;
}
body{
	background:var(--green);
	color:black;
	font-family: 'Roboto Condensed';
	min-height: 100% !important;
    position: relative;
	z-index: 1;
}
#casino_root, .App{
	position: absolute;
	z-index: 1;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	overflow: hidden;
	height: 100%;
	width:100%;
}
.App{
	padding:40px 0px;
}
.grad {
	background-color:var(--green);
	background-image: url('./../img/bg.jpg');
	background-repeat: repeat;
	background-size: 300px auto;
	text-align:center;
}
.grad:before{
	content: "";
	background-color:transparent;
	background-image: radial-gradient(transparent, black);
	position:absolute;
	z-index: 1;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	width:100%;
}

.deco {
	--c:var(--yellow);   /* color */
	--b:1px;   /* thickness of lines */
	--o1:15px; /* offest of lines*/
	--o2:10px; /* offset of rectangle */
	
	border:var(--o1) solid transparent; 
	outline:var(--b) solid var(--c); 
	outline-offset:calc(-1*var(--o2));
	background:
	  linear-gradient(var(--c) 0 0) top,
	  linear-gradient(var(--c) 0 0) left,
	  linear-gradient(var(--c) 0 0) bottom,
	  linear-gradient(var(--c) 0 0) right;
	background-size:200% var(--b),var(--b) 200%; 
	background-origin:padding-box;
	background-repeat:no-repeat;
	padding:1px;
}
.HomePage{
	background-color: var(--transparent_5);
	padding: 10px;	
}
.HomePage .deco{
	display: table;
    width: 100%;
    min-height: 235px;
}
.HomePage_box{
	padding: 10px;
    display: table-cell;
    vertical-align: middle;
}

textarea.shadow_concav, input.shadow_concav, .button_yellow.shadow_concav, .shadow_concav{
	-moz-box-shadow:    inset 4px 4px 8px 2px var(--transparent_8)!important;
   	-webkit-box-shadow: inset 4px 4px 8px 2px var(--transparent_8)!important;
   	box-shadow:         inset 4px 4px 8px 2px var(--transparent_8)!important;
}
textarea.shadow_convex, input.shadow_convex, .button_yellow.shadow_convex, .button_table.shadow_convex, .shadow_convex{
	-moz-box-shadow:    4px 4px 8px 2px var(--transparent_8)!important;
   	-webkit-box-shadow: 4px 4px 8px 2px var(--transparent_8)!important;
   	box-shadow:         4px 4px 8px 2px var(--transparent_8)!important;
}

#logo_splash, #logo_icon{
	width:40px;
}
.under_construction_icon{
	width: 150px;
}
.currency_img{
	width: 8px;
    margin: -4px 5px 0px 5px;
}
.account_img{
	width: 25px;
    margin: -4px 0px 0px 0px;
}

.logo_title_img{
	width:12px;
	margin-right:5px;
	display:inline-block!important;
}
.logo_title_text{
	display: inline-block;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
}
.rabbit_not_found{
	width:150px;
	display: inline-block;
	vertical-align: middle;
}
#rabbit_stand_right{
	float:right;
}
#rabbit_stand_left{
	float:left;
}

#myProgress {
	width: 100%;
	border-radius:50px;
	background-color: transparent;
	border:solid 1px var(--yellow);
	margin-top:20px;
	height: 10px;
	overflow: hidden;
  }
  
  #myBar {
	width: 0%;
	height: 8px;
	background-color: var(--transparent_yellow);
	line-height: 8px;
	border-radius:50px;
  }
  #myBar_text{
	text-align: right;
  }
  #myBar_text_container{
	width: 20px;
	margin-bottom:-20px;
  } 

.fa-user-circle{
	width:25px;
	display:inline;
}

.minor_container{
	position: fixed;
	z-index: 1;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--transparent_8);
}
.minor_inside{
	position:relative;
	z-index: 1;
	padding:10px;	
	top:50%;
	left:50%;
	width:100%;
	max-width:600px;
	transform:translate(-50%, -50%);
}
.minor_box{
	padding:20px;
	background:var(--yellow);
	color:black;
	border-radius:10px;
}
.minor_check, .settings_save{
	background:black;
	color:var(--yellow);
	border:solid 1px black;
	border-radius:0px;
	width:100px;
	margin:5px;
}
.minor_check:hover, .minor_check:focus, .minor_check:active, .minor_check:active:focus, .minor_check:active:hover,
.settings_save:hover, .settings_save:focus, .settings_save:active, .settings_save:active:focus, .settings_save:active:hover{
	background:black;
	color:var(--yellow);
	border:solid 1px black;
	border-radius:0px;
}

.loader_container{
	display:none;
	position:absolute;
	z-index: 1;
	z-index:1;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	width:100%;
}
.loader_container .loader{	
    position: relative;
	z-index: 1;
    top: 50%;
    transform: translate(0px, -50%);
    font-size: 20px;
	color: var(--yellow);
}
.loader_container .loader img{
	width:200px;
}
.loader_container .loader h1{
	font-size:20px;
	text-transform:uppercase;
}

.navbar{
	z-index:9999;
	padding:0px!important;
	background:black;
}
.navbar-brand{
	line-height:40px!important;
}
.logo_title{
	padding:5px 15px;
}
.navbar-nav{
	margin-bottom:0px;
	padding:5px 10px!important;
}
.navbar-text{
	float:right;
	margin:0px!important;
	width:100%;
	max-width:200px;
	text-align:right;
}
.navbar-collapse{
	background:transparent;
	color:var(--yellow);
}

.dropdown, .dropup{
	display:inline-block;
}
.dropdown.show, .dropup.show{
	display:inline-block!important;
}
.dropdown-menu{
	background-color:black;
	border-top:solid 1px var(--yellow);
	border-radius:0px;
}
.dropdown-menu *{
	display:block;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, address {
    margin: 0px;
}

h1 {
	font-size: 30px;
	line-height: 30px;
	font-family: monospace;
}

h2 {
	font-size: 24px;
	line-height: 24px;
}

h3 {
	font-size: 20px;
	line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 12px;
}

ul{
	margin:0px;
	padding:0px;
}
ul li{
	list-style: none;
}

textarea {
	resize: none;
}

.uppercase {
	text-transform: uppercase;
  }
  
.lowercase {
	text-transform: lowercase;
  }
  
.capitalize {
	text-transform: capitalize;
  }

.text_red{
	color:var(--red);
}
.text_stroke{
	color: var(--yellow);
	-webkit-text-fill-color: transparent; 
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--yellow);
}

.hidden_red{
	display:none;
}

.full-height {
    position: relative;
	z-index: 1;
    display: table;
    height: 100%;
    width: 100%;
}
.full-height-content{
	display: table-cell;
	vertical-align: middle;
	padding: 10px 0px;
}

#salon.full-height, 
#user_account.full-heigh, 
#race.full-height, 
#user_account.full-height{
    position: relative;
	z-index: 1;
	display:block;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
    height: 100%;
    width: 100%;
}
#salon .full-height-content{	
	position: relative;
	z-index: 1;
    top: 50%;
    transform: translate(0px, -50%);
	display: block;
	padding: 10px 0px;
}
#user_account .full-height-content,
#race .full-height-content{
	padding: 10px 0px;	
	display: block;
}
#race .salon_page{
	padding:0px;
}

a, a:hover, a:focus, a:active{
	color:var(--yellow);
	text-decoration: none;
}
.link_hover_underline, .link_hover_underline:hover, .link_hover_underline:focus, .link_hover_underline:active{
	text-decoration: underline;
}

.color_yellow{
	color:var(--yellow);
}

textarea, input{
    outline: none!important;
	-moz-box-shadow:    none!important;
   	-webkit-box-shadow: none!important;
   	box-shadow:         none!important;
}

input:-internal-autofill-selected {
    appearance: none;
    background-color: transparent !important;
    background-image: none !important;
    color: var(--yellow) !important;
}

.input_yellow, .input_yellow:focus{
	background:black;
	border:solid 1px var(--yellow);
	color:var(--yellow);	
}

.button_yellow{
	color: var(--yellow);
    background: transparent;
    border: solid 1px var(--yellow);
	outline: none!important;
	-moz-box-shadow:    none!important;
   	-webkit-box-shadow: none!important;
   	box-shadow:         none!important;
}
.button_yellow[finished~="no"]{
	border: solid 1px var(--transparent_yellow);
	color: var(--transparent_yellow);
}
.button_yellow:hover, .button_yellow:focus, .button_yellow:active, .button_yellow:active:focus{
    background: var(--transparent_yellow);
	color: var(--yellow);
	border: solid 1px var(--yellow);
}
.button_yellow[finished~="no"]:hover, .button_yellow[finished~="no"]:focus, .button_yellow[finished~="no"]:active, .button_yellow[finished~="no"]:active:focus{
    background: transparent;
	color: var(--transparent_yellow);
	border: solid 1px var(--transparent_yellow);
}
.button_table{
	color: var(--yellow);
    background: transparent;
    border: solid 1px var(--yellow);
	outline: none!important;
	-moz-box-shadow:    none!important;
   	-webkit-box-shadow: none!important;
   	box-shadow:         none!important;
	/* -moz-box-shadow:    4px 4px 8px 2px var(--transparent_8)!important;
   	-webkit-box-shadow: 4px 4px 8px 2px var(--transparent_8)!important;
   	box-shadow:         4px 4px 8px 2px var(--transparent_8)!important; */
	border-radius: 100%;
    height: 55px;
    width: 55px;
	padding: 5px;
    margin-top: 10px;
}
.button_table:hover, .button_table:focus, .button_table:active, .button_table:active:focus{
    background: var(--transparent_yellow);
	color: var(--yellow);
	border: solid 1px var(--yellow);
}

.button_green{
	color: black;
    background: var(--transparent_2);
    border: solid 1px black;
	outline: none!important;
	-moz-box-shadow:    none!important;
   	-webkit-box-shadow: none!important;
   	box-shadow:         none!important;
}
.button_green:hover, .button_green:focus, .button_green:active, .button_green:active:focus{
    background: var(--transparent_2);
	border: solid 1px black;
	color: black;
}

.user_form_container{
	position: relative;
	z-index: 1;
}
.sign_errors{
	border: solid 1px var(--red);
	border-radius:5px;
	padding:10px;
	margin-top: 10px;
	display:none;
	background-color: var(--transparent_5);
}
.login_link_container{
	margin:10px 0px;
	display:inline-block;
	border-radius:20px;
}
.login_link{
	display:inline-block;
	padding:5px 10px;
	border:solid 1px var(--yellow);
	width:100px;
	cursor:pointer;
}
.login_link.active{
	background: var(--transparent_yellow)
}
.login_link:first-child{
	border-radius:20px 0px 0px 20px;
}
.login_link:last-child{
	border-radius:0px 20px 20px 0px;
}

#user_form button, #user_form input{
	width:100%;
	margin:5px 0px;
	border-radius:20px;
}

.navbar-brand{
	padding:0px;
	line-height:50px;
	height:auto;
}
.app_link{	
	padding:20px 10px;
}
.app_link a{
	padding-right:10px;
	margin-right:10px;
	border-right:solid 1px green
}
.app_link a:last-child{
	border-right:solid 0px transparent;
}


table {
  border-collapse: collapse;
}

.modal{
	z-index:999999;
}
.modal.show{
	opacity:1;
	background: var(--transparent_8);
	padding:10px;
}
.modal-dialog{
	margin: 0;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%)!important;
}
.modal-title{
	display:inline-block;
}

/* chatroom */
#chatform button{
	width:100%;
	color: var(--yellow);
    background: var(--transparent_2);
    border: solid 1px var(--yellow);
    outline: none!important;
	-moz-box-shadow:    none!important;
   	-webkit-box-shadow: none!important;
   	box-shadow:         none!important;
	padding: 6px 4px;
}

#user_list{
	max-height: 400px;
    overflow: auto;
}
#user_list table tr td{
	vertical-align:top;
	border-bottom: solid 1px var(--yellow);
	color:var(--yellow);
}
#user_list table tr td:first-child{
	width:65%;
	text-align:left;
}
#user_list table tr td:last-child{
	text-align:right;
}
#support_button{
	position: absolute;
	z-index: 1;
    bottom: 10px;
    cursor: pointer;
    right: 10px;
    padding: 5px 10px;
}

.support_container{	
	position: relative;
	z-index:1;
	background-color: var(--transparent_5);
    padding: 10px;
	margin-top:60px;
}
.support_container .deco{
	width: 100%;
    min-height: 300px;
}
.support_container .box{
	padding:15px;
	background-color: black;
}
.support_info{
	padding:15px 0px;
	text-align: left;
}
#contact_items_info, #contact_list_info{
	margin-bottom:10px;
}
#contact_list_info li i{
	width:15px;
}
#contact_list_social li{
	display: inline-block;
	padding:5px;
}
#support_form{
	position:absolute;
	z-index:1;
	top:-30px;
	right:-10px;
	background-color: var(--transparent_5);
	padding: 10px;
	width:50%;	
}
#support_form button, #support_form input, #support_form textarea{
	width: 100%;
    margin: 5px 0px;
    border-radius: 20px;
	background-color: transparent;
}
#support_form textarea{
	height: 200px
}

.chatroom #chatmessages{
	display:block;
	width:100%;
	margin-bottom:10px;
	overflow:auto;
	text-align:left;
	height:180px;
	background:black;
	color:var(--yellow);
	border:solid 1px var(--yellow);
	border-radius:5px;
	padding:5px 10px;
	outline: none;
}
.chatroom input, .chatroom input:focus{
	display:block;
	width:100%;
	margin-bottom:10px;
	background:black;
	color:var(--yellow);
	border:solid 1px var(--yellow);
	border-radius:5px;
	padding:5px 10px;
	outline: none;
}

.chatroom .chattext_container > div:first-child{
	padding-right:5px;
}
.chatroom .chattext_container > div:last-child{
	padding-left:5px;
}
.chatroom .btn-success{
	width:100%;
}

.panel_container{
	top:0px;
	bottom:0px;
	right:-250px;
	width:300px;
	position:fixed;	
	z-index:9997;		
    -webkit-transition:0.7s;
    -moz-transition:0.7s;
	-o-transition: 0.7s;
	transition:0.7s;
}
.panel_container.open{	
	right:0px;
}
.panel_box{
	display:none;
	background-color: var(--transparent_5);
	background-image: linear-gradient(black, var(--transparent_5) 50%);
	border-left:solid 1px var(--yellow);
	padding: 20px 10px;	
	position:absolute;
	z-index:1;
	height:100%;
	right:0px;
	width:90%;
	max-width:250px;
	text-align: left;
	color:var(--yellow);
}
.button_container{
	position: absolute;
	z-index:1;
    left: 1px;
    width: 50px;
}
#user_button{
	z-index:2;
    top: 40px;
}
#chat_button{
	z-index:1;
    top: 150px;
}
.button_container > div{
	background-color: black;	
	border:solid 1px var(--yellow);
	border-right:solid 0px black;
	border-radius:10px 0px 0px 10px;
	color:var(--yellow);
	height:100px;
	text-align:center;
	cursor:pointer;
	padding: 30px 5px;
}
.button_container div svg{
	display:inline-block;
	padding:2px;
	font-size:28px;
}
.button_container div h4{
	font-size: 12px;
}
.user_list{
	margin:0px;
	padding:0px;
}
.user_list li{
	list-style-type: none;
	border-bottom: solid 1px var(--yellow);	
}
.user_list li:first-child{	
	overflow: auto;
}
.user_list li > span{
	display:block;
	padding:10px 5px;
	cursor: pointer;
}
.user_list li:first-child{
	margin-top:5px;
}
.user_list li:hover, .user_list li:focus{
	background: var(--transparent_yellow);
}
#user_list_user{
	margin-top:15px;
}
.user_list_button {
    display: inline-block;
    padding: 5px 10px;
    border: solid 1px var(--yellow);
    width: 50%;
    cursor: pointer;
    height: 30px;
	text-align: center;
}
.user_list_button:first-child {
    border-radius: 20px 0px 0px 20px;
}
.user_list_button:last-child {
    border-radius: 0px 20px 20px 0px;
}
.user_list_button.active, .user_list_button:hover{
	background: var(--transparent_yellow);
}
#user_subtitle{
	padding-left:5px;
}
#user_list_user{
	color:var(--yellow);
}
#user_name, #user_money{
	display:inline-block;
	vertical-align: middle;
	width:50%;
}
#user_money{
	text-align:right;
	cursor: auto;
}

.casino_games_title{
	padding: 10px 20px;
    border: solid 1px var(--yellow);
    border-radius: 50px;
    display: inline-block;
    max-width: 600px;
    margin-top: 10px;
	width: 100%;
	cursor: pointer;
	position: relative;
	z-index:1;
}
.casino_games_title:hover{
	background: var(--transparent_yellow);
}
.casino_games_title i{
	position:absolute;
	z-index: 1;
	right: 10px;
	top:8px;
	font-size: 25px;
}
#casino_games_title_dropdown_container{
	position: relative;
	z-index: 2;
}
.casino_games_title_box_container{
	max-width: 600px;
    width: 100%;
	padding: 0px 15px;
	max-height:140px;	
	-webkit-transition:height .5s ease-in-out;
    -moz-transition:height .5s ease-in-out;
	-o-transition: height .5s ease-in-out;
	transition:height .5s ease-in-out;
	height: 0;
	overflow:hidden;
	display: inline-block;
	position: absolute;
	z-index: 1;
	left: 50%;
    transform: translate(-50%, 0px);
	color:black;
	top:52px
}
.casino_games_title_box_container.open{
    height: 140px;
}
.casino_games_title_box{
	border: solid 1px var(--yellow);
	border-radius: 0px 0px 20px 20px;
	padding: 5px; 
	overflow: hidden;
	background-color: var(--yellow);
	
}
.casino_games_title_box div{
	padding:5px 20px;
	border-bottom: solid 1px black;
	cursor: pointer;
}
.casino_games_title_box div:last-child{
	border-bottom: solid 1px transparent;
	border-radius: 0px 0px 20px 20px;
}
.casino_games_title_box div:hover{
	background-color: black;
	color:var(--yellow);
}
.casino_games_table_container{
	-webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition:all .5s ease-in-out;
	max-height:200px;
	height: 0;
	overflow:hidden
}
.casino_games_table_container.open {
	height: 200px;
}
.casino_games_table{
    padding: 10px;
    margin-top: 10px;
    overflow-y: auto;
}

.table_inside{
	display:inline-block;
	padding:10px;
	width:100%;
}
.table_box{	
	padding:20px 10px;
	border:solid 1px var(--yellow);
	border-radius:10px;
	height:150px;
	width: 100%;
	display:table;
	background: var(--transparent_2);
}
.table_box > div{
	display:table-cell;
	vertical-align: middle;
}

/* account */
.account_tabs_container{
	padding:10px 0px;
}
.account_tabs{
	display: inline-block;
    padding: 10px 10px;
    border: solid 1px var(--yellow);
    width: 120px;
    cursor: pointer;
    height: 40px;
}
.account_tabs:first-child {
    border-radius: 20px 0px 0px 20px;
}
.account_tabs.active {
    background: var(--transparent_yellow);
}
.account_tabs:last-child {
    border-radius: 0px 20px 20px 0px;
}
.item_container{
	height: 400px;
	overflow-y:auto;
}
.profile_container{
	height: 360px;
}
.profile_container .profile_left,
.profile_container .profile_right{
	position: relative;
	z-index:1;
	border:solid 1px var(--yellow);
	padding:15px;
	background: var(--transparent_2);
}
.profile_container .profile_left{
	border-radius:10px 0px 0px 10px;
}
.profile_container .profile_right{
	border-radius:0px 10px 10px 0px;
	min-height: 300px;
	margin-top:45px;
}

.profile_container .profile_button{
	padding: 10px 20px;
    border: solid 1px var(--yellow);
    border-radius: 50px;
    cursor: pointer;
	margin:5px 0px;
	line-height:10px;
}

.change_username_input{
	width:100%;
	padding:5px 10px;
	border-radius:5px;
	-moz-box-shadow:    inset 2px 2px 2px var(--transparent_5)!important;
   	-webkit-box-shadow: inset 2px 2px 2px var(--transparent_5)!important;
	box-shadow: inset 2px 2px 2px var(--transparent_5)!important;
	background-color: black;
	border:solid 1px black;
	color:var(--yellow);
}
.change_username_button, .change_pic_button{
	background-color: black;
	border:solid 1px black;
	margin:5px;
	color: var(--yellow);
}
.change_username_button:hover, .change_username_button:active, .change_username_button:focus,
.change_pic_button:hover, .change_pic_button:active, .change_pic_button:focus{
	background-color: transparent;
	border:solid 1px black;
	margin:5px;
	color: black;
}

.account_box_container h2{
	margin:15px 0px;
}
.account_box_container h3{
	margin-bottom:15px;
}

.shop_shader{	
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	height:80px;
	margin-bottom: -20px;
	position: relative;
	z-index:2;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border-top: none;
}
.table>tbody>tr>td:first-child{
	text-align:right;
}
.table>tbody>tr>td:last-child{
	text-align:left;
}

.history_tabs_container{
	position: absolute;
	z-index:1;
	top:-45px;
	left: 0px;
	right: 0px;
	width:100%;
	text-align: left;
}
.history_tabs{
	display: inline-block;
	vertical-align: middle;
	width:100px;
	border: solid 1px var(--yellow);
	border-radius: 5px 5px 0px 0px;
	padding: 5px 10px;
	text-align: center;
	margin-right: 5px;
	cursor: pointer;
}
.history_tabs:hover, .history_tabs:active, .history_tabs:focus{
	background-color: var(--transparent_yellow);
}
.history_container{
	margin:0px;
}
.history_container thead tr{
	background: var(--transparent_yellow);
}
.history_container thead tr th{
	border: solid 1px var(--yellow)!important;
}
.history_container tbody tr td{
	border: solid 1px var(--yellow);
	text-align:left!important;
}
.history_box{
	max-height:500px;
	overflow-y: auto;
	padding-right:10px;
}

.casino_modal .modal-dialog{
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%)!important;
	
}
.casino_modal .modal-content{
	background:var(--yellow);
	-moz-box-shadow:    none;
   	-webkit-box-shadow: none;
   	box-shadow:         none;
	border: none;
}
.casino_modal .modal-header{
	border-bottom: 1px solid black;
}
.casino_modal .modal-footer{
	border-top: 1px solid black;
	text-align: center;
}
.casino_modal .close{
	opacity: 1;
	text-shadow: none;
}
.casino_modal label{
	text-align:left;
	display: block;
}
.casino_modal p{
	font-size:12px;
	line-height:12px;
}
.casino_modal a{
	color:black;
}
#qr_code{
	margin-bottom: 5px;
}

#link_forget{
	cursor: pointer;
}

#crop_language_container{
	position: fixed;
	z-index: 9999;
	top:10px;
	left:5px;
}
.crop_vegetables_box {
	display:inline-block;
	padding:5px;
	vertical-align: middle;
}
.crop_language_box {
	display: inline;
    cursor: pointer;
    padding: 0px 10px;
    border-right: solid 1px var(--yellow);
}
.crop_language_box:last-child{
	border-right:none;
}
.crop_vegetables{
	width: 40px;
	height: 40px;
	overflow: hidden;
	display:inline-block!important;
}
.crop_language {
	width: 38px;
	height: 45px;
	overflow: hidden;
	display:inline-block!important;
}
.crop_vegetables .vegetable {
	width: 160px!important;
	height: 160px;	
}
.crop_language .language {
	width: 220px!important;
    height: 280px;
}
.crop_vegetables .garlic {
	margin-top: -80px;
    margin-left: -80px;
}
.crop_vegetables .onion {
	margin-top: 0px;
    margin-left: -40px;
}
.crop_vegetables .radish {
	margin-top: -40px;
    margin-left: -80px;
}
.crop_vegetables .carrot {
	margin-top: 0px;
	margin-left: 0px;
}
.crop_vegetables .turnip {
	margin-top: -120px;
	margin-left: -120px;
}
.crop_vegetables .potato {
	margin-top: 0px;
    margin-left: -80px;
}
.crop_vegetables .cabbage {
	margin-top: -80px;
    margin-left: -40px;
}
.crop_language .lang_ro {
	margin-top: -70px;
    margin-left: -16px;
}
.crop_language .lang_eng {
	margin-top: -24px;
    margin-left: -86px;
}


/* footer */
.footer_container{
	display:none;
	position:fixed;
	z-index:9990;
	height:65px;
	bottom:-65px;
	color:var(--yellow);
	width:100%;
	background-color: black;
	border-top:solid 1px var(--yellow);
	padding-top:10px;
	padding-bottom:10px;
	-webkit-transition:all .5s ease-out;
    -moz-transition:all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition:all .5s ease-out;
}
#salon .footer_container{
	display:block;
}
.footer_container.open{
	bottom: 0px!important;
}
.footer_container .footer_button{
	display:inline-block;
	background-color: black;
	border:solid 1px var(--yellow);
	border-bottom:solid 0px transparent;
	padding:5px 20px;
	border-radius:10px 10px 0px 0px;
	position: absolute;
	top:-21px;
	right: 15px;
	cursor: pointer;
}
.footer_container .box_info{
	color:var(--yellow);
	margin-bottom: 10px;
}
.footer_container .box_info li{
	display:inline-block;
	padding:0px 10px;
	border-right: solid 1px var(--yellow);
	font-size:12px;
	cursor: pointer;
}
.footer_container .box_info li:last-child{
	border-right: solid 0px transparent;	
}
.footer_container h6{
	font-size: 10px;
	line-height: 10px;
}

/* COOKIES MESSAGE */
.cookies_msg_container {
	position: absolute;
	bottom: 50px;	
	padding: 20px;
	max-width: 780px;
	width: 100%;	
	z-index: 9999;
	left: 50%;
	transform: translateX(-50%);
}
.cookies_msg{
	display: flex;
	align-items: center;
	justify-content: space-between;	
	background: var(--yellow);	
	border-radius: 10px;
	padding: 20px;
	border: 1px solid var(--yellow);
}

.cookies_text {
	width: 75%;
	display: block;
	color: black;
	font-size: 14px;
}
.confirm_cookies {
	width: 20%;
	display: block;
	position: relative;
}
.confirm_cookies button {
	width: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background:black;
	color:var(--yellow);
	border-radius:20px;
	border:solid 1px black;
}
.confirm_cookies button:hover {
	background:var(--yellow);
	color:black;
	border:solid 1px black;
}

.roulette_container, .blackjack_container{
    position: relative;
	z-index: 1;
    top: 0px;
}
#roulette_bets_canvas, #roulette_bets_clear{
	display: block;
	margin:auto;
}
.roulette_bets_container, .craps_bets_container{
	position: fixed;
	z-index:1;
	top:0px;
	bottom:0px;
	right:100%;
	width:100%;
	padding:0px 50px;
	-webkit-transition:0.7s;
    -moz-transition:0.7s;
	-o-transition: 0.7s;
	transition:0.7s;
}
.roulette_bets_container.open, .craps_bets_container.open{
	right:0px;
}
.roulette_bets_box, .craps_bets_box{
	overflow: hidden;
}
.roulette_bets, .craps_bets{
	position: relative;
	z-index:1;
	top:50%;
	width:100%;
	transform: translate(0px, -50%);
	border:solid 1px var(--yellow);
	border-radius:10px;
	padding:10px;
	background: black;
}
.roulette_bets .close, .craps_bets .close{
	color: var(--yellow);
	text-shadow: none;
	opacity:1;
	font-size:25px;
	line-height:10px;
}
#roulette_bets_clear{
	background-color: var(--game_button_color);
	color:var(--game_button_border);
	border-radius: 100%;
	border:solid 1px var(--game_button_border);
	width: 50px;
    height: 50px;
    padding: 12px 10px;
}

#user_title{
	margin-bottom:10px;
	text-align: center;
}

/* donate */
#donate{
	opacity: 0;
	position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 999999;
    width: 36px;
    height: 36px;
	cursor: pointer;
}
#donate svg{
	fill:var(--yellow);
}
#donate.open{
	-webkit-transition: opacity 2.0s ease-in;
	-moz-transition: opacity 2.0s ease-in;
	-o-transition: opacity 2.0s ease-in;
	transition: opacity 2.0s ease-in;
	opacity: 1;
}

.salon_button_container{
	position: fixed;
    z-index: 9999;
    top: 0px;
	bottom:0px;
    left: -50px;
    width: 50px;
	-webkit-transition:0.7s;
    -moz-transition:0.7s;
	-o-transition: 0.7s;
	transition:0.7s;
}
.salon_button_container.open{
	left: 0px;
}
.salon_button_box{
	position: relative;
    top: 50%;
    transform: translate(0px, -50%);
}
.salon_button {
    background: var(--transparent_5);
	border:solid 1px var(--yellow);
	border-left:none;
    color: var(--yellow);
    border-radius: 0px 10px 10px 0px;
    width: 30px;
    height: 130px;
    text-align: center;
    vertical-align: top;
    padding: 10px 10px 10px 5px;
    cursor: pointer;
	margin-bottom:10px;	
}
.salon_button:hover, .salon_button:focus{
	background:  var(--transparent_yellow);
    color: var(--yellow);
    border: solid 1px var(--yellow);
	border-left:none;
}
.salon_button span{
	writing-mode: vertical-rl;
	-webkit-text-orientation: upright;
  	text-orientation: upright;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;	
}
.salon_button i{
	margin-bottom: 5px;
    font-size: 16px;
    line-height: 16px;
}
#exit_salon{
	display:inline-block;
	padding:5px 20px;
	border:solid 1px var(--yellow);
	margin:10px;
	border-radius:10px;
	cursor: pointer;
	font-size: 12px;
}
#exit_salon:hover, #exit_salon:active, #exit_salon:focus{
	background: var(--transparent_yellow);
}

.slot_header{
	display: inline-block;
	max-width: 320px;
	width: 100%;
	padding:10px;	
	border-radius:5px 5px 0px 0px;	
	margin-bottom:-5px;
	-moz-box-shadow:    2px 2px 8px 8px rgb(0 0 0 / 50%);
   -webkit-box-shadow: 2px 2px 8px 8px rgb(0 0 0 / 50%);
	box-shadow: 2px 2px 8px 8px rgb(0 0 0 / 50%);
}
.color_5 .slot_header, .color_3 .slot_header{
	background-color: var(--dark_yellow);
	border-top:solid 0px var(--yellow);
	border-right:solid 2px var(--yellow);
	border-bottom:solid 0px var(--yellow);
	border-left:solid 2px var(--yellow);
}
.slot_machine{
	display: inline-block;
    position: relative;
	max-width: 520px;
	width:100%;
	height: 320px;
    text-align: center;    
    border: 10px solid;    
    border-radius: 5px;
	-moz-box-shadow:    2px 2px 8px 8px rgb(0 0 0 / 50%);
   -webkit-box-shadow: 2px 2px 8px 8px rgb(0 0 0 / 50%);
	box-shadow: 2px 2px 8px 8px rgb(0 0 0 / 50%);
}
.color_5 .slot_machine, .color_3 .slot_machine{
	background: #000;
	border-color: var(--dark_yellow) var(--yellow);
}
#slot_machine_lines{
	position: absolute;
	z-index: 1;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
}
.slot_machine .box{
    overflow: hidden;
	display:inline-block;
	width:100px;
	height: 300px;
	border: 3px solid;    
}
.color_5 .slot_machine .box, .color_3 .slot_machine .box{
	border-color: var(--dark_yellow) var(--yellow) var(--dark_yellow) var(--dark_yellow);
}
.color_5 .slot_machine .box:last-child, .color_3 .slot_machine .box:last-child{
	border-right: 3px solid var(--dark_yellow);
}
.slot_machine .slot_canvas{
    position: relative;
	width: 100%;
    height: 100%;
}
.color_5 .slot_machine .slot_canvas, .color_3 .slot_machine .slot_canvas{
	background: white;
}
.slot_machine .box_results{
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
	width:100%;
	text-align: center;
	height: 100%;
	padding:10px 0px;
}
#slot_canvas_results{
	height: 100%;
}
.slot_header h1, .slot_header h3{
    text-shadow: rgb(0 0 0 / 50%) 3px 3px 3px;
}
.color_5 .slot_header h1, .color_3 .slot_header h1,
.color_5 .slot_header h3, .color_3 .slot_header h3{
	color: var(--light_yellow);
}
.slot_buttons_container{
	margin:10px 0px;
}
.slot_buttons{
	display: inline-block;
    position: relative;
	width: 100%;
	max-width:520px;
    text-align: center;
    border-radius: 5px;
	padding:10px 20px;
	-moz-box-shadow:    2px 2px 8px 8px rgb(0 0 0 / 50%);
   	-webkit-box-shadow: 2px 2px 8px 8px rgb(0 0 0 / 50%);
	box-shadow: 2px 2px 8px 8px rgb(0 0 0 / 50%);
	background: var(--dark_yellow);
	border-top:solid 0px var(--yellow);
	border-right:solid 2px var(--yellow);
	border-bottom:solid 0px var(--yellow);
	border-left:solid 2px var(--yellow);
	color:black;
	
}
.slot_input{
	width:100%;
	padding:5px 10px;
	border-radius:5px;
	-moz-box-shadow:    inset 2px 2px 2px var(--transparent_5)!important;
   	-webkit-box-shadow: inset 2px 2px 2px var(--transparent_5)!important;
	box-shadow: inset 2px 2px 2px var(--transparent_5)!important;
	background: var(--transparent_5);
	color:var(--yellow);
	border:solid 1px var(--yellow);
}
#slot_spin{
	border-radius: 100%;
    height: 55px;
    width: 55px;
	outline: none!important;
	color: black;
    background: var(--transparent_5);
    border: solid 1px black;
	
}
#slot_spin:hover, #slot_spin:focus, #slot_spin:active, #slot_spin:active:focus{
    background: var(--transparent_2);
	border: solid 1px var(--yellow);
	color: var(--yellow);
}
#slot_spin.start{
	color: rgba(0, 0, 0, 0.5);
    background: var(--transparent_2);
    border: solid 1px rgba(0, 0, 0, 0.5);	
}

.show_results_container{
	background:var(--transparent_5);
	position: fixed;
	z-index: 99999;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	width:100%;
	text-align: center;
	padding:10px;
	display:none;
}
.show_results{
	position: absolute;
	z-index: 1;
	top:50%;
	left: 50%;
    transform: translate(-50%, -50%);
	width:100%;
	max-width: 200px;	
	background: var(--yellow);
	border-radius: 10px;
	color: black;
}
.show_results .header{
	font-size: 24px;
	margin-bottom:10px;
	padding:0px 10px;
	border-bottom:solid 1px black;
}
.show_results .message{
	font-size: 14px;
	margin-bottom:10px;
	padding:0px 10px;
}
.show_results i{
	position: absolute;
    top: 5px;
    right: 10px;
    z-index: 1;
    font-size: 20px;
	cursor: pointer;
}
#slot_rules{
	cursor: pointer;
}

#pay_table{
	height:350px;
	overflow-y: auto;
}
#pay_table table{
	width:250px;
	margin: 0px auto;
}
#pay_table table tr th, #pay_table table tr td{
	padding:5px;
	vertical-align: top;
	text-align: left;
	border:solid 1px black;
}
#pay_table table tr th{
	background: black;
	color:var(--yellow);
	border-right: solid 1px var(--yellow);
}
#pay_table table tr th:last-child{
	border-right: solid 1px black;
}
.my_matrix{
	overflow: auto;
	margin-bottom: 5px;
	width: 125px;
}
.my_matrix > div{
	background-color: white;
	border: solid 1px #666;
	width:25px;
	height:25px;
	float:left;
}
.my_matrix > div.color{
	background-color: black;
	border: solid 1px #666;
}


.race_table_header{
	padding:5px 10px;
	border:solid 1px var(--yellow);
	border-radius:50px;
	color:var(--yellow);
}
.race_table_body_container{
	padding:0px 12px;
	position: relative;
	z-index: 2;
}
.race_table_body{
	border:solid 1px var(--yellow);
	border-top:none;
	border-radius:0px 0px 10px 10px;
	padding:10px;
}
.rabbit_box_container{
	padding:10px;
	border-bottom:solid 1px var(--yellow);
}
.rabbit_box_container:last-child{
	border-bottom:none;
}
.rabbit_box{
	display:inline-block;
	width:50%;
	padding:10px;
}
.rabbit_box_left, .rabbit_box_right{
	display:inline-block;
	width:50%;
	padding:10px;	
	vertical-align: top;
}
.rabbit_box_pic{
	position: relative;
	z-index:1;
}
.rabbit_box_name{
	display: inline-block;
	padding:5px;
	background-color: var(--yellow);
	color:black;
	border-radius:50px;
	width:100%;
	max-width: 100px;
	margin-top:-5px;
	margin-bottom: 5px;
}
.rabbit_box_nr{
	position: absolute;
	z-index: 1;
	top:-10px;
	left:-10px;	
	padding:4px;
	border-radius:100px;
	width:30px;
	height:30px;
	border:solid 1px white;
	color:white;
	text-align: center;
}
.rabbit_box_pic img{
	height:auto;
	width:100%!important;
	max-width:130px;
	border-radius:100%;
	border:solid 1px var(--yellow);
	display:inline-block!important;
}
.rabbit_box_input > div .rabbit_box_minus,
.rabbit_box_input > div .rabbit_box_plus{
	border:solid 1px var(--yellow);
	padding:4px;
	border-radius:100px;
	width:30px;
	height:30px;
	color:var(--yellow);
	display: inline-block;
	cursor: pointer;
}
.race_input{
	color:var(--yellow);
	width:40px;
	padding:5px 10px;
	border:solid 1px var(--yellow);
	border-radius:5px;
	-moz-box-shadow:    inset 2px 2px 2px var(--transparent_5)!important;
   	-webkit-box-shadow: inset 2px 2px 2px var(--transparent_5)!important;
	box-shadow: inset 2px 2px 2px var(--transparent_5)!important;
	background-color: transparent;
	height: 25px;
	margin:0px 5px;
	text-align: center;
}
.race_bets_container{
	margin: 40px 0px;
    border: solid 1px var(--yellow);
    border-radius: 50px;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
}

.race_text_box{
	display: inline-block;
	vertical-align: middle;
	width:40%;
	padding-right: 5px;
}
.race_buttons_box{
	display: inline-block;
	vertical-align: middle;
	width:60%;
	text-align: right;
}
#race_start, #race_clear_bets{
	width:50px;
	height:50px;
	border:solid 1px var(--yellow);
	background-color: var(--yellow);
	color:black;	
	border-radius: 100px;
	right: 25px;
	top:-10px;
	left:50%;
	font-size: 14px;
    line-height: 14px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-left:5px;
	padding: 17px 7px;
}
#race_clear_bets{
	padding: 12px 7px;
}
#race_start:hover, #race_clear_bets:hover{
	border:solid 1px var(--yellow);
	background-color: var(--transparent_yellow);
	color:var(--yellow);	
}
#race_clear_bets i{
	font-size: 24px;
}

.race_container{
	position:relative;
	z-index: 1;
}
#race_canvas{
	border:solid 1px var(--yellow);
	border-radius:10px;
	/* background-color: rgba(255, 215, 0, 0.5); */
	background-image: radial-gradient(transparent, black);
}
#race_order_container{
	display: block;
	margin:auto;
}
#race_order_box{
	border:solid 1px var(--yellow);
	border-top:solid 0px transparent;
	border-radius:0px 0px 10px 10px;
	background: var(--transparent_5);
	color:var(--yellow);
	padding:10px;
	padding-top:20px;
	margin-top:-10px;
	text-align: center;
}
.race_order_elem_container{
	padding:0px 5px;
	display: inline-block;
	width:16.6%
}
.race_order_elem{
	padding:0px 5px;
	margin-top:5px;
	border:solid 1px white;
	color:white;
	text-align: center;
	border-radius:5px;
}

.red{
	background-color: red;
}
.orange{
	background-color: orange;
	border:solid 1px black;
	color:black;
}
.yellow{
	background-color: yellow;
	border:solid 1px black;
	color:black;
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
}
.purple{
	background-color: purple;
}

/* dropdown */
.dropdown_group{
	padding:10px;
}
.dropbtn {
	background-color: black;
	color: var(--yellow);
	border:solid 1px var(--yellow);
	border-radius:5px;
	padding: 15px;
	font-size: 15px;
	cursor: pointer;
	width:100%;
}  
.dropdown {
	position: relative;
	z-index: 1;
	display: block;	
}  
.dropdown-content {
	display: none;
	position: absolute;
	z-index: 999999;
	min-width: 100%;
	-moz-box-shadow:    0px 8px 16px 0px var(--transparent_2);
   -webkit-box-shadow: 0px 8px 16px 0px var(--transparent_2);
	box-shadow: 0px 8px 16px 0px var(--transparent_2);	
	height:auto;
	overflow-y: auto;
	max-height: 100px;
} 
.dropdown-content .dropdown_item, .dropdown-content li {
	color: var(--yellow);
	border-bottom:solid 1px var(--yellow);
	padding: 5px 10px;
	text-decoration: none;
	display: block;
	cursor: pointer;
} 
.dropdown-content .dropdown_item:last-child {
	border-bottom:solid 0px transparent;
}  
.dropdown-content .dropdown_item:hover {
	background-color: var(--transparent_yellow)
}  
.dropdown:hover .dropdown-content {
	display: block;
	border-radius:5px;
} 
.dropdown-content li{
	cursor: pointer;
	color: var(--yellow);
	border-bottom:solid 1px var(--yellow);
}
.dropdown-content li:last-child{
	border-bottom:solid 0px transparent;
}

#settings_container .dropdown-content{
	background-color: black;
	padding:10px;
}
.rabbit_inside{
	padding: 5px;
}
.rabbit_box{
	padding: 5px;
    border: solid 1px var(--yellow);
    border-radius: 10px;
    height: 150px;
    width: 100%;
    display: table;
    background: var(--transparent_2);
}
.place_box li{
	padding: 4px;
    border-radius: 100px;
    width: 30px;
    height: 30px;
	background: transparent;
    border: solid 1px var(--yellow);
    color: var(--yellow);
    text-align: center;
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
	cursor: pointer;
}
.place_box li.active{
	background: var(--yellow);
	border: solid 1px var(--yellow);
    color: black;
}
.place_box li:hover{
	background: var(--transparent_yellow);
	border: solid 1px var(--yellow);
    color: var(--yellow);
}

/* donations */
.donation_container{
	text-align: left;
}
.donation_box{
	padding:10px;
}
.donation_header{
	margin-bottom:5px;
}
.donation_body_crypto{
	border: solid 1px var(--yellow);
    border-radius: 10px;
    background: var(--transparent_2);	
}
.donation_body{	
    padding: 10px 15px;
}
.paypal-buttons{
	opacity: 0;
	z-index: 9999999;
}
.paypal_button{
	border: solid 1px var(--yellow)!important;
    border-radius: 5px!important;
    color: var(--yellow)!important;
	width:100%!important;
	max-width: 100px!important;
	padding:5px 10px!important;
	display: block!important;
    text-align: center!important;
	position: relative;
	/*top: -40px;*/
}
.paypal_button:hover, .paypal_button:active, .paypal_button:focus{
    color: var(--yellow);
	background: var(--transparent_yellow);
}
.donation_link{
	padding-bottom: 5px;
}
.donation_link:last-child{
	padding-bottom: 0px;
}
.donation_link_paypall{
	width:100%;
	max-width: 100px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none!important;
    outline-offset: 0px!important;
}

/* Career */
.career_header_container{
	margin-top: 10px;
	border-bottom: solid 1px var(--yellow);
	text-align: left;
}
.career_header_box{
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 10px;
	margin-left: 5px;
	border: solid 1px var(--yellow);
	border-bottom: solid 0px transparent;
	border-radius: 10px 10px 0px 0px;
}
.career_header_box:hover, .career_header_box:active, .career_header_box:focus, .career_header_box.open{
	background-color: var(--transparent_yellow);
}
#career_header_title_dropdown_container{
	position: relative;
	z-index: 2;
}
.career_header_title_container {
    position: absolute;
    z-index: 2;
    width: 100%;
    margin-bottom: -15px;
}
.career_header_title {
    padding: 10px 20px;
    border: solid 1px var(--yellow);
    border-radius: 50px;
    display: inline-block;
    max-width: 600px;
    width: 100%;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.career_header_title_box_container {
    max-width: 600px;
    width: 100%;
    padding: 0px 15px;
    max-height: 105px;
    transition: height .5s ease-in-out;
    height: 0;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0px);
    color: black;
    top: 52px;
	margin-top: -10px;
}
.career_header_title_box_container.open {
    height: 105px;
}
.career_header_title_box {
    border: solid 1px var(--yellow);
    border-radius: 0px 0px 20px 20px;
    padding: 5px 10px;
    overflow: hidden;
    background-color: var(--yellow);
}
.career_header_title_box div {
    padding: 5px 20px;
    border-bottom: solid 1px black;
}

.career_container{
	text-align: left;
	padding: 5px;
}
.career_scroll{
	height: 420px;
	overflow-y: auto;
}
.career_box{
	padding: 5px 0px;
	border-bottom: solid 1px var(--yellow);
}
.career_box:last-child{
	padding: 5px 0px;
	border-bottom: solid 0px transparent;
}

/* Questions */
.question_box{
	padding:10px;
	border-bottom: solid 1px var(--yellow);
}
.question_title{
	padding: 10px 20px;
    border: solid 1px var(--yellow);
    border-radius: 50px;
    display: inline-block;
    max-width: 600px;
    margin-top: 10px;
	width: 100%;
	cursor: pointer;
	position: relative;
	z-index:1;
}
.question_title:hover{
	background: var(--transparent_yellow);
}
.answer_container{
	display:none;
}
.answer_container.open{
	display:block;
}

/* CRAPS */
.dice_box {
	position: relative;
	z-index: 0;
	display: inline-block;
	margin: 0px 10px;
}
.dice {
	position: relative;
	z-index: 2;
	width: 100px;
	height: 100px;
	transform-style: preserve-3d;
	transition: transform 1s; 
}
.dice_shadow{
	position: absolute;
	z-index: 1;
	top: 0;
	width: 100px;
	height: 100px;
	border-radius: 5px;
	background: var(--transparent_8);
}
.dot {
	position: absolute;
	width: 20px;
	height: 20px;
	margin: -10px 5px 5px -10px;
	border-radius: 20px;
	background-color: black;
	box-shadow: inset 2px 2px #333;
}
.side {
	position: absolute;
	background-color: var(--red);
	border-radius:5px;
	width: 100px;
	height: 100px;
	border: 1px solid black;
	text-align: center;
	line-height: 2em;
}

.side:nth-child(1) {transform: translateZ(50px); }
.side:nth-child(6) {transform: rotateY(90deg) translateZ(50px); }
.side:nth-child(3) {transform: rotateY(-90deg) translateZ(50px); }
.side:nth-child(4) {transform: rotateX(90deg) translateZ(50px); }
.side:nth-child(5) {transform: rotateX(-90deg) translateZ(50px); }
.side:nth-child(2) {transform: rotateY(-180deg) translateZ(50px); }

.show_1 {transform: rotateX(720deg) rotateZ(-720deg);  }
.show_2 {transform: rotateX(-900deg) rotateZ(1080deg); }
.show_3 {transform: rotateY(810deg) rotateZ(720deg); }
.show_4 {transform: rotateX(-810deg) rotateZ(-1080deg); }
.show_5 {transform: rotateX(450deg) rotateZ(-720deg);}
.show_6 {transform: rotateY(-450deg) rotateZ(-1440deg); }

.two_1, .three_1, .four_1, .five_1, .six_1 {top: 20%;left: 20%;}
.four_3, .five_3, .six_4 {top: 20%;left: 80%;}
.one_1, .three_2, .five_5 {top: 50%;left: 50%;}
.four_2, .five_2, .six_3 {top: 80%;left: 20%;}
.two_2, .three_3, .four_4, .five_4, .six_6 {top: 80%;left: 80%;}
.six_2 {top: 50%;left: 20%;}
.six_5 {top: 50%;left: 80%; }

#craps_start.start{
	border:solid 1px var(--game_button_border);
	color:var(--game_button_border);
}
.dice_container{
	margin: 20px 0px 10px 0px;
}
.dice_container.jump{
	margin-top: 10px;
}

.game_buttons_container {
    margin: 10px 0px;
	text-align: center;
}
.game_box_slots{
	display: inline-block;
	max-width: 520px;
    width: 100%;
}
.game_buttons {
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 2px 2px 8px 8px rgb(0 0 0 / 50%);
    background: var(--dark_yellow);
    border: solid 0px var(--yellow);
    border-right: solid 2px var(--yellow);
    border-bottom: solid 0px var(--yellow);
    border-left: solid 2px var(--yellow);
    color: black;
}
.game_text_container{
	display: inline-block;
	vertical-align: middle;
	width:80%;
}
.game_buttons_box {
    display: inline-block;
	vertical-align: middle;
	width:50%;
	padding:0px 5px;
}
.game_buttons_box .craps_buttons_box_text {
    color: var(--light_yellow);
	text-shadow: rgb(0 0 0 / 50%) 3px 3px 3px;
}
.craps_input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px var(--transparent_5)!important;
	background: var(--transparent_5);
	color: var(--yellow);
    border: solid 1px var(--yellow);
}
.game_start_container{
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	width:20%;
}
#craps_start, #craps_bet {
    border-radius: 100%;
    height: 55px;
    width: 55px;
    color: black;
    background: rgba(0, 0, 0, 0.5);
    border: solid 1px black;
    outline: none!important;
	margin: 0px 5px;
}
#craps_start:hover, #craps_start:focus, #craps_start:active,
#craps_bet:hover, #craps_bet:focus, #craps_bet:active{
    background: rgba(0, 0, 0, 0.2);
    border: solid 1px var(--yellow);
    color: var(--yellow);
}
#craps_start.start, #craps_bet.start{
	background: rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.5);
	border:solid 1px rgba(0, 0, 0, 0.5);
}

.craps_board_text{
	padding:5px;
	border-bottom: solid 1px var(--yellow);
	margin-bottom: 5px;
}
.craps_board_text .text{
	padding-right:5px;
}
.craps_board_text .text01, .craps_board_text .text03, .craps_board_text .text05{
	font-weight: bold;
}

#craps_rules{
	overflow-y: auto;
    max-height: 325px;
	text-align: left;
}


  .craps_board_container{
	padding:10px;
	margin:10px 0px;
	border:solid 1px var(--yellow);
	border-radius: 10px;
	color:var(--yellow);
	background-color: var(--transparent_8);
	font-family:courier new;
}
#craps_board {
	resize: none;
	width:100%;
	height:200px;	
	padding:10px;
	cursor: default;
	overflow-y:auto;
}

/* Profile pics */
.profile_pic_container{
	position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 100%;
    border: solid 1px var(--yellow);
	display: inline-block;
}
.profile_pic_container .profile_pic{
	width: 100%;
    height: 100%;
	font-size: 40px;
	line-height: 80px;
	position: absolute;
    top: 0;
    left: 0;
}
.profile_pic_container .profile_pic_default{
	font-size: 40px;
	line-height: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: var(--yellow);
	width: 80px;
	height: 80px;
	border-radius: 100%;
	opacity: 0;
	transition: .5s ease;
}
.profile_pic_container:hover .profile_pic{
	opacity: 0;
}
.profile_pic_container:hover .profile_pic_default{
	opacity: 1;
}
.profile_pic_input{
	opacity: 0;
	width: 100px;
	height: 100px;
	position: absolute;
    top: 0;
    left: 0;
}
#change_picture_modal{
	max-width:400px;
	width:auto;
}
.crop_profile_pic_box {
	display: inline-block;
    cursor: pointer;
    padding: 5px;	
}
.crop_profile_pic_box p{
	border: solid 1px black;
	background-color: var(--yellow);
	color:black;
	border-radius: 10px;
	position: relative;
    z-index: 2;
}
.crop_profile_pic{
	width: 80px;
	height: 80px;
	overflow: hidden;
	display:inline-block!important;
	border-radius: 100%;
	border:solid 1px black;
}
.crop_profile_pic .profile_pic {
	width: 480px!important;
	height: 80px;	
}
.profile_pic.pic_1 {
	margin-top: 0px;
    margin-left: 0px;
}
.profile_pic.pic_2 {
	margin-top: 0px;
    margin-left: -80px;
}
.profile_pic.pic_3 {
	margin-top: 0px;
    margin-left: -160px;
}
.profile_pic.pic_4 {
	margin-top: 0px;
    margin-left: -240px;
}
.profile_pic.pic_5 {
	margin-top: 0px;
    margin-left: -320px;
}
.profile_pic.pic_6 {
	margin-top: 0px;
    margin-left: -400px;
}

/* radio buttons */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label{
	position: relative;
	z-index: 1;
	top:-5px;
	cursor: pointer;
	display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -5px;
	transform: translate(-50%, 0px)!important;
	width: 20px;
	height: 20px;
	border: 1px solid black;
	border-radius: 100%;
	background-color: var(--yellow);
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
	content: '';
	width: 12px;
	height: 12px;
	background: black;
	position: absolute;
	left: 50%;
	bottom: -1px;
	transform: translate(-50%, 0px)!important;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
	opacity: 0;
}
[type="radio"]:checked + label:after {
	opacity: 1;
}
  
/* media */
@media (max-width: 1024px){
	.rabbit_box_info, .rabbit_box_input{
		width:100%;
		min-height:auto;
	}
}
@media (max-width: 960px){
	.career_header_container{
		position: relative;
		z-index: 2;
		margin-top: 10px;
		text-align: center;
	}
	.career_scroll {
		height: 200px;
	}
	.race_bets_container{
		margin: 10px 0px;
	}
	.rabbit_box_container{
		padding:0px;
	}
	.rabbit_box_pic img{
		width:70px!important;
	}
	.casino_games_title_container{		
		position: absolute;
		z-index: 2;
		width: 100%;
		margin-bottom: -15px;		
	}
	.casino_games_table_container.open{
		margin-top: 40px;
	}
	.rabbit_box_input > div .rabbit_box_minus, .rabbit_box_input > div .rabbit_box_plus{
		padding:0px;
		width:22px;
		height: 22px;
	}
}
@media (max-width: 767px) {
	.game_text_container{
		width: 45%;
	}
	.game_start_container{
		width: 55%;
	}
	.craps_buttons_box{
		width: 100%;
	}
	#craps_board{
		height: 114px;
	}
	.dice {
		width: 50px;
		height: 50px;
	}
	.dice_shadow{
		width: 50px;
		height: 50px;
	}
	.dot {
		width: 10px;
		height: 10px;
		margin: -5px 2px 2px -5px;
	}
	.side {
		width: 50px;
		height: 50px;
	}
	.side:nth-child(1) {transform: translateZ(25px); }
	.side:nth-child(6) {transform: rotateY(90deg) translateZ(25px); }
	.side:nth-child(3) {transform: rotateY(-90deg) translateZ(25px); }
	.side:nth-child(4) {transform: rotateX(90deg) translateZ(25px); }
	.side:nth-child(5) {transform: rotateX(-90deg) translateZ(25px); }
	.side:nth-child(2) {transform: rotateY(-180deg) translateZ(25px); }
	.spacing_small{
		padding-left:70px;
		padding-right:70px;
	}
	.race_order_elem_container{
		width:100%
	}
	.rabbit_box{
		width:100%;
		padding:0px;
	}
	.rabbit_box_left, .rabbit_box_right{
		padding: 5px;
		width:100%;
	}
	.history_box{
		max-height:200px;
	}
	.profile_container .profile_left{
		border-radius:10px;
	}
	.slot_header{
		max-width: 200px;
	}
	#support_form{
		width: 100%;
		position: static;
		padding: 10px 0px;
		background-color: transparent;
	}
	.support_container{
		margin-top:20px;
	}
	.support_container .box{
		background-color: transparent;
	}
	.slot_machine .box{
		width:50px;
		height:150px;
	}
	.slot_machine{
		height: 170px;
		max-width: 270px;
	}
	.slot_buttons{
		max-width: 270px;
	}
	#slot_spin{
		margin-top:10px;
	}
	.button_table{
		height: 40px;
		width: 40px;
		margin-top: 5px;
		padding: 12px 0px;
		font-size: 12px;
	}
	.table_box{
		height:110px
	}
	.salon_page{
		padding-left:60px;
	}
	#sapou a{
		display:inline-block;
		vertical-align: middle;
	}
	#sapou h6{
		margin-top: 5px;
	}
	h1 {
		font-size: 20px;
		line-height: 20px;
	}

	h2 {
		font-size: 18px;
		line-height: 18px;
	}

	h3 {
		font-size: 16px;
		line-height: 16px;
	}

	h4 {
		font-size: 14px;
		line-height: 14px;
	}
	
	h6 {
		font-size: 10px;
		line-height: 10px;
	}
	
	.form-control{
		font-size: 12px;
		line-height: 12px;		
	}
	#user_form button, #user_form input{
		height: 25px;
		font-size: 12px;
		line-height: 12px;		
	}
	
    .navbar-toggler{
		display:block;
	}	
	.navbar-nav a{
		display:block
	}
	.chatroom .chattext_container{
		margin-right:-15px;
	}
	.loader_container .loader img{
		width:100px;
	}
	.loader_container .loader h1{
		font-size:16px;
	}
	#logo_icon{
		width:30px;
	}
	.navbar-text{
		float:none;
	}
	.navbar-collapse{
		margin-top:50px;
		background-color: black;
	}
	.casino_games_title{
		padding: 5px 10px;
	}
	.casino_games_title i{
		top:3px;
	}
	.casino_games_title_box_container{
		top:42px;
	}
	.casino_games_table_container.open{
		height:140px;
		margin-top: 30px;
	}
	.table_inside {
		width: 33.33%;
		padding: 5px;
	}
	.table_box {
		padding: 10px 5px;
	}
	.chatroom .chattext_container > div:first-child{
		padding-right:15px;
	}
	.chatroom .chattext_container > div:last-child{
		padding-left:15px;
	}

	.rabbit_not_found{
		width:50px;
	}
	#rabbit_stand_right, #rabbit_stand_left{
		float:none;
	}

	.button_container{
		left: 11px;
	}
	.button_container > div {
		height: 40px;
		padding: 7px 5px;
	}
	.button_container div svg{
		font-size: 24px;
	}
	.button_container div h4{
		display:none;
	}
	#user_button{
		top: 10px;
		width:40px
	}
	#chat_button{
		top: 55px;
		width:40px;
	}
	
	.roulette_container{
		overflow-x: auto;
		overflow-y: hidden;
		position: relative;
		z-index: 1;
		top: 0px;
		left: 50%;
		transform: translate(-50%, 0px);
		width:290px;
	}	
	#roulette .full-height-content{
		margin-top: 25%;
	}
	.salon_button span{
		font-size: 12px;
	}
	.rabbit_box_name{
		padding: 0px;
		margin:0px;
	}
}
@media (max-width:600px) {	
	.cookies_msg {
		flex-direction: column;
	}
	.cookies_text, .confirm_cookies {
		width: 100%;
	}
	.confirm_cookies button {
		position: relative;
		z-index: 1;
		transform: none;
		top: auto;
		left: auto;
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-top:5px;
	}
	.footer_container{
		height:210px;
		bottom:-210px;
	}
	.footer_container .footer_button{
		right: 50%;
		transform: translate(50%, 0px);
	}
	.footer_container .box_info ul{
		display: inline-block;
		width:300px;
	}
	.footer_container .box_info li{
		display:block;
		border-right:none;
		border-bottom:solid 1px var(--yellow);
		padding: 5px 10px;
	}
}
@media (max-width: 480px) {  
	.table_inside {
		width: 100%;
	}	
}

@media (min-width: 768px){
	.full-height .container {
		width: 100%;
	}
	.full-height-content{
		padding: 20px 0px;
	}
	::-webkit-scrollbar{
		width: 10px;
		height:5px;
		border-radius: 10px;
	}
	
	::-webkit-scrollbar-track {
		border-radius: 10px;
		background:black;
		border:solid 4px var(--yellow)
	}
	
	::-webkit-scrollbar-thumb{
		border-radius: 10px;
		background-color: black;
	}
}

@media (max-width: 768px) and (orientation: landscape) {
	.salon_button i{
		display:none;
	}
	#roulette .full-height-content{
		margin-top: 0%;
	}
	#game_title{
		display:none;
	}
	#casino_root, .App {
		height: auto;
	}
	.App{
		padding:10px 0px;
	}
	.table_box{
		height:110px
	}
	.footer_container.open{
		bottom: 0px!important;
	}
	footer{
		padding:10px;
	}
}